<div
    class="modal fade"
    id="viewEnrichmentModal-{{ id }}"
    tabindex="-1"
    role="dialog"
    aria-labelledby="viewEnrichmentLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-full modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="viewEnrichmentLabel" hidden>Modal title</h5> -->
                <ul
                    class="nav nav-tabs nav-section nav-justified "
                    id="leftTab"
                    role="tablist"
                >
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            href="#details"
                            aria-controls="details"
                            role="tab"
                            data-toggle="tab"
                            >Details</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            href="#media"
                            aria-controls="media"
                            role="tab"
                            data-toggle="tab"
                            >Media</a
                        >
                    </li>
                </ul>
                <!-- <nav
                    class="navbar navbar-expand-lg navbar-light bg-light"
                    role="tabpanel"
                >
                    <ul class="navbar-nav nav-section" role="tablist">
                        <li role="presentation" class="nav-item active">
                            <a
                                class="nav-link"
                                href="#details"
                                aria-controls="details"
                                role="tab"
                                data-toggle="tab"
                                >Details</a
                            >
                        </li>
                        <li role="presentation" class="nav-item">
                            <a
                                class="nav-link"
                                href="#media"
                                aria-controls="media"
                                role="tab"
                                data-toggle="tab"
                                >Media</a
                            >
                        </li>
                    </ul>
                </nav> -->
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="details">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="heading">
                                            Description
                                        </h3>
                                        <p class="description-format">
                                            {{
                                                enrichment['description'] ||
                                                    'None'
                                            }}
                                        </p>
                                    </div>
                                    <div
                                        class="col-md-6"
                                        *ngFor="
                                            let key of objectKeys(keysToShow)
                                        "
                                    >
                                        <h3 class="heading">
                                            {{ keysToShow[key] }}
                                        </h3>
                                        <p class="description-format">
                                            {{ enrichment[key] || 'None' }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 img-container">
                                <img
                                    src="{{
                                        filesService.fileAccessUrl +
                                            enrichment.image_urls[indexInFocus]
                                                .fileEndpoint
                                    }}"
                                    class=""
                                    alt="{{
                                        enrichment.image_urls[indexInFocus].key
                                    }}"
                                    height="235"
                                    width="345"
                                />

                                <button
                                    *ngIf="enrichment['image_urls'].length > 0"
                                    class="align-icon"
                                    (click)="void(0)"
                                >
                                    +{{ enrichment['image_urls'].length - 1 }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="media">
                        <div
                            class="container-fluid media-container"
                            *ngIf="
                                enrichment.image_urls &&
                                enrichment.image_urls.length > 0
                            "
                        >
                            <div
                                class="row justify-content-center align-items-center"
                            >
                                <!-- The image in focus -->
                                <!-- TODO: Center the image and fix size -->

                                <img
                                    src="{{
                                        filesService.fileAccessUrl +
                                            enrichment.image_urls[indexInFocus]
                                                .fileEndpoint
                                    }}"
                                    class="img-fluid"
                                    alt="{{
                                        enrichment.image_urls[indexInFocus].key
                                    }}"
                                />
                            </div>

                            <div class="row justify-content-center mt-3">
                                <h5>
                                    {{ indexInFocus + 1 }}/{{
                                        enrichment.image_urls.length
                                    }}
                                </h5>
                            </div>

                            <div class="row thumbnail-container">
                                <!-- Grid of thumbnails -->
                                <!-- TODO: Highlight currently selected thumbnail -->
                                <!-- TODO: Fix row to bottom -->
                                <div
                                    class="m-2"
                                    *ngFor="
                                        let img of enrichment.image_urls;
                                        let i = index
                                    "
                                >
                                    <a
                                        (click)="indexInFocus = i"
                                        [ngClass]="{
                                            active: indexInFocus === i
                                        }"
                                    >
                                        <img
                                            src="{{
                                                filesService.fileAccessUrl +
                                                    img.fileEndpoint
                                            }}"
                                            class="thumb-img"
                                            alt="{{ img.key }}"
                                        />
                                    </a>
                                </div>
                            </div>
                            <!-- <div class="row img-footer-container"> -->
                            <!-- Grid of thumbnails -->
                            <!-- TODO: Highlight currently selected thumbnail -->
                            <!-- TODO: Fix row to bottom -->
                            <!-- <div
                                    class=""
                                    *ngFor="
                                        let img of enrichment.image_urls;
                                        let i = index
                                    "
                                >
                                    <a (click)="indexInFocus = i" class="m-3">
                                        <img
                                            src="{{
                                                filesService.fileAccessUrl +
                                                    img.fileEndpoint
                                            }}"
                                            class="thumb-img "
                                            [ngClass]="{
                                                active: indexInFocus === i
                                            }"
                                            alt="{{ img.key }}"
                                        />
                                    </a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-text" data-dismiss="modal">
                    Delete
                </button>
                <button type="button" class="btn solid-btn">Edit</button>
            </div>
        </div>
    </div>
</div>
