<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-product">
          <div class="card-header card-header-warning card-header-text">
            <div class="card-text">
              <h1 class="card-title" style="font-size: 1.2rem;" tabindex="-1" #enterYourDetails>
                Enter Your Details
              </h1>
            </div>
          </div>
          <div class="card-body">
            <form autocomplete="off" class="form-horizontal" #userForm="ngForm">
              <div class="form-group">
                <div class="row">
                  <label class="col-md-2 col-2 col-form-label">Photo</label>
                  <div class="col-md-3 col-sm-4">
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                      <div class="fileinput-new thumbnail profile_photo_div">
                        <img src="{{
                            user.photo_url && user.photo_url.fileEndpoint
                              ? filesService.fileAccessUrl +
                                user.photo_url.fileEndpoint
                              : './assets/img/placeholder.jpg'
                          }}" alt="profile picture" />
                      </div>
                      <div class="fileinput-preview fileinput-exists thumbnail profile_photo_div "></div>
                      <div>
                        <label class="btn btn-round btn-sm btn-rose btn-file">
                          <span *ngIf="!objectKeys(user.photo_url).length" class="fileinput-new" role="button">Add
                            Photo</span>
                          <span *ngIf="objectKeys(user.photo_url).length" class="fileinput-new" role="button">update
                            Photo</span>
                          <span class="fileinput-exists" role="button">Change</span>
                          <input type="file" (change)="getBlob($event)" accept="image/*" />
                        </label>
                        <button *ngIf="objectKeys(user.photo_url).length"
                          class="btn btn-sm btn-danger btn-round fileinput-new"
                          (click)="deleteProfileImage(user.photo_url)">
                          <i class="material-icons" aria-hidden="true">
                            delete_outline
                          </i>
                          Remove
                        </button>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger btn-round fileinput-exists"
                          data-dismiss="fileinput" (click)="imageBlob = null" role="button">
                          <i class="fa fa-times" aria-hidden="true"></i>
                          cancel
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-2 col-2 col-form-label" [ngStyle]="{
                      color: !user.name ? 'red' : '#AAAAAA'
                    }" id="fullname">Full Name</label>
                  <div class="col-md-10 col-9">
                    <mat-form-field class="example-full-width">
                      <input matInput aria-labelledby="fullname" type="text" name="name" required
                        [(ngModel)]="user.name" #name="ngModel" ngDefaultControl />
                    </mat-form-field>
                    <div [hidden]="name.valid || name.pristine" class="text-danger error-msg">
                      Name is required
                    </div>
                  </div>
                </div>

                <div class="row">
                  <label class="col-md-2 col-2 col-form-label" id="emailId">E-mail I.D
                  </label>
                  <div class="col-md-8 col-7">
                    <mat-form-field class="example-full-width">
                      <input matInput type="email" name="email" aria-labelledby="emailId" [(ngModel)]="user.email"
                        [ngModelOptions]="{ standalone: true }" required readonly />
                    </mat-form-field>
                  </div>
                  <div class="col-md-2 col-2">
                    <mat-slide-toggle [checked]="user.email_private" (change)="onValChange($event,'email')">Private!
                    </mat-slide-toggle>


                  </div>
                </div>

                <div class="row">
                  <label class="col-md-2 col-2 col-form-label" [ngStyle]="{
                      color: !user.phone_number ? 'red' : '#AAAAAA'
                    }" id="phoneNum">Phone number
                  </label>
                  <div class="col-md-8 col-7">
                    <mat-form-field class="example-full-width">
                      <input matInput type="tel" name="phone_number" required aria-labelledby="phoneNum"
                        [(ngModel)]="user.phone_number" #phone_number="ngModel"
                        (change)="checkPhoneNumber(phone_number.model)" />
                    </mat-form-field>
                    <mat-error [hidden]="phone_number.valid || phone_number.pristine" class="text-danger error-msg">
                      Phone number is required
                    </mat-error>
                    <mat-error *ngIf="user.phone_number && !isPhoneValid" class="text-danger error-msg">
                      Please enter a valid phone number
                    </mat-error>
                  </div>
                  <div class="col-md-2 col-2">
                    <mat-slide-toggle [checked]="user.number_private" (change)="onValChange($event,'number')">Private!
                    </mat-slide-toggle>


                  </div>
                </div>

                <br />

                <div class="row">
                  <label class="col-md-2 col-2 col-form-label" id="organizationLabel">Organization</label>
                  <div class="col-md-8 col-7">
                    <mat-form-field class="example-full-width">
                      <mat-select name="organization" placeholder="Select Organization" matInput
                        aria-labelledby="organizationLabel" id="organizations" [(ngModel)]="organization" role="listbox"
                        (selectionChange)="storeOrganization($event)">
                        <mat-option role="option" *ngFor="let org of objectKeys(userService.allOrgs)" value="{{ org }}">
                          {{ org }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                  </div>
                  <div class="col-md-2 col-2">
                    <mat-slide-toggle [checked]="user.organization_private"
                      (change)="onValChange($event,'organization')">
                      Private!</mat-slide-toggle>


                  </div>
                </div>

                <div class=" row">
                  <label class="col-sm-2 col-form-label">Persona</label>
                  <div class="col-md-8 col-7">
                    <div class="form-check" *ngFor="let persona of objectKeys(user)">
                      <label class="form-check-label" *ngIf="
                      persona == 'is_ngo' ||
                      persona == 'is_innovator' ||
                      persona == 'is_entrepreneur' ||
                      persona == 'is_expert' ||
                      persona == 'is_incubator' ||
                      persona == 'is_funder' ||
                      persona == 'is_government' ||
                      persona == 'is_beneficiary' 
                     
                    ">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="user[persona]"
                          [ngModelOptions]="{ standalone: true }" />
                        {{ persona.slice(3).toUpperCase() }}
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-2 col-2">
                    <mat-slide-toggle [checked]="user.persona_private" (change)="onValChange($event,'persona')">Private!
                    </mat-slide-toggle>


                  </div>
                </div>

                <div class="row">
                  <label class="col-md-2 col-2 col-form-label" [ngStyle]="{
                      color: !userLocationName ? 'red' : '#AAAAAA'
                    }" aria-label="location" id="locationLabel">Location (Geo)
                  </label>
                  <div class="col-md-8 col-7">
                    <mat-form-field class="example-full-width">
                      <input matInput type="text" name="location" required aria-labelledby="locationLabel"
                        [matAutocomplete]="locationAuto" (ngModelChange)="getLocation($event)"
                        [(ngModel)]="userLocationName" #location="ngModel" />

                      <mat-autocomplete #locationAuto="matAutocomplete" (optionSelected)="storeLocation($event)">
                        <mat-option *ngFor="let location of locations" [value]="location">
                          {{ location.Location.Address.Label }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>

                  <div class="col-md-2 col-2">
                    <mat-slide-toggle [checked]="user.location_private" (change)="onValChange($event,'location')">
                      Private!
                    </mat-slide-toggle>


                  </div>
                  <div [hidden]="location.valid || location.pristine" class="text-danger error-msg">
                    Location is required
                  </div>
                </div>

                <div class="row justify-content-center">
                  <label class="col-md-2 col-2 col-form-label" id="interestsLabel">
                    Interests</label>
                  <div class="col-md-8 col-7">
                    <div class="input-group ">
                      <mat-form-field class="example-chip-list">
                        <input placeholder="Sectors" #sectorInput aria-labelledby="interestsLabel"
                          [formControl]="sectorCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                          (matChipInputTokenEnd)="add($event)" />
                        <mat-chip-list #chipList></mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                          <mat-option *ngFor="let sector of filteredSectors | async" [value]="sector">
                            {{ sector }}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-2 col-2">
                    <mat-slide-toggle [checked]="user.interests_private" (change)="onValChange($event,'interests')">
                      Private!</mat-slide-toggle>


                  </div>
                </div>

                <div class="row justify-content-center">
                  <label class="col-md-2 col-2 col-form-label"> </label>
                  <div class="col-md-8 col-7">
                    <mat-chip *ngFor="let sector of sectors" [selectable]="selectable" [removable]="removable"
                      (removed)="remove(sector)" style="margin-right:0.3em; margin-bottom: 0.4em;">
                      {{ sector }}
                      <i class="material-icons mat-chip-remove mat-chip-trailing-icon i material-icons ng-star-inserted"
                        matChipRemove tabindex="0" role="button" aria-label="remove" *ngIf="removable">cancel</i>
                    </mat-chip>
                  </div>
                </div>

                <div class="row">
                  <label class="col-sm-2 col-form-label">External notification preference</label>
                  <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="user.notify_email"
                          [ngModelOptions]="{ standalone: true }" />
                        E-mail
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="user.notify_sms"
                          [ngModelOptions]="{ standalone: true }" />
                        SMS
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer row justify-content-center" *ngIf="mode === 'Add'">
            <div class="mr-auto">
              <input type="button" class="btn" onclick="window.history.back()" name="cancel" value="Cancel" />
            </div>
            <button mat-raised-button class="btn btn-warning" type="submit"
              [disabled]="!userForm.form.valid || !isPhoneValid" (click)="onSubmit()">
              Save Details
            </button>
          </div>

          <div class="card-footer row justify-content-center" *ngIf="mode === 'Edit'">
            <div class="mr-auto">
              <input type="button" class="btn" onclick="window.history.back()" name="cancel" value="Cancel" />
            </div>
            <button mat-raised-button class="btn btn-warning" type="submit"
              [disabled]="!isPhoneValid || !userForm.form.valid" (click)="onSubmit()">
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>