.error-msg {
    position: absolute;
    top: 40px;
    /* font-size: 10px; */
    font-size: 90%;
    margin-top: 0.5em;
    top: calc(100% - 1.72916667em);
}

.profile_photo_div {
    height: 8.5em;
    width: 8.5em;
    border-radius: 50%;
}

img,
.profile_photo_div img {
    width: auto !important;
}