@import '../../../styles.scss';
@import '../../../assets/scss/common';

.full-screen {
    height: calc(100vh - 126px);
}

.login {
    display: flex;
    flex-direction: column;
}

.login h2 {
    font-weight: $weight600;
    font-size: 3.5rem;
}

.login-description {
    font-weight: $weight600;
    font-size: $font14;
}

.social-login {
    display: flex;
}

.linkedin-button,
.google-button {
    text-align: center;
    cursor: pointer;
    padding: 6px;
    border: 2px solid $primary2;
    border-radius: $round4;
    font-size: $font20;
    color: $primary2;
    background-color: $secondary5;
    flex-grow: 1;
}

.google-button {
    margin-left: 1%;
}

.linkedin-button {
    margin-right: 1%;
}

.email-input {
    display: flex;
    flex-direction: column;
}

.email-input label,
.password-input label {
    color: $secondary1;
    font-weight: $weight500;
    font-size: $font16;
    margin-bottom: 1rem;
}

.email-input input,
.password-input input {
    border: 1px solid $secondary3;
    border-radius: $round4;
    background-color: $secondary4;
    width: 100%;
    font-size: $font14;
    padding: 1rem;
}

.password-show > div > span {
    font-weight: 500;
    color: $primary2;
    font-size: $font12;
}

.password-show > div > i {
    color: $primary2;
    font-size: $font12;
}

.password-input-labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password-show {
    cursor: pointer;
}

input[type='text']:focus,
input[type='password']:focus {
    border-color: black;
}

.keep-me-logged-in label {
    color: $secondary1;
    letter-spacing: 0.35px;
}

.keep-me-logged-in input[type='checkbox'] {
    display: inline-block;
    margin-right: 10px;
}

.login-button {
    padding: 6px;
    border: 2px solid $primary2;
    border-radius: $round4;
    font-size: $font16;
    font-weight: 700;
    color: $secondary6;
    background-color: $primary2;
    cursor: pointer;
    margin-top: 3rem;
}

.forgot-password > a {
    text-decoration: underline;
    font-size: $font14;
    font-weight: 400;
    color: $secondary1;
    margin-top: 3rem;
}
