$font20: 2rem;
$font18: 1.8rem;
$font16: 1.6rem;
$font14: 1.4rem;
$font12: 1.2rem;
$font10: 1rem;

$spacing: -0.01rem;
$weight500: 500;
$weight600: 600;
$weight800: 800;

$round4: 0.4rem;

@mixin pattern1 {
    letter-spacing: $spacing;
    font-size: $font14;
    line-height: 2.2rem;
}

@mixin dropdown-common {
    font-weight: $weight500 !important;
    color: $secondary1;
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
        0 1px 10px 0 rgba(63, 63, 68, 0.15);
    border-radius: 0.6rem;
    border: 0.1rem solid $secondary5;

    & :hover {
        background-color: $secondary5;
        cursor: pointer;
    }
}

@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin navbar {
    min-height: 4.6rem;
    background-color: $secondary6;
    border-bottom: 1px solid $secondary4;
    border-radius: 0.4rem 0.4rem 0 0;
    box-sizing: border-box;

    .nav-item,
    .nav-link {
        min-height: 100%;
        border: none;
        color: $secondary1;
    }

    .nav-item {
        border-bottom: 1px solid $secondary4;
    }

    .nav-link {
        @include pattern1();
        font-weight: $weight600;
        line-height: 3rem;
    }

    .nav-item .nav-link.active {
        font-weight: $weight600;
        border-bottom: 0.4rem solid $primary3 !important;
        border-radius: 0.4rem 0.4rem 0 0 !important;
    }
}
