@import './common';

.comment-section {
    @include pattern1();
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    font-weight: 600;
    color: $secondary1;
    text-transform: capitalize;

    .details-container {
        margin-left: 1rem;
        width: 100%;

        .comment-date {
            line-height: 2rem;
            font-size: 1.2rem;
            color: $secondary2;
            font-weight: normal;
        }

        .read-more {
            font-size: 1.2rem !important;
            font-weight: 600 !important;
            line-height: 2.2rem !important;
            color: $secondary1;
        }

        & div:nth-child(2) {
            margin-top: 1rem;
            font-weight: normal;
        }
    }
}

.reply-section {
    // pb-2 pl-3 pr-2 pt-2 mt-1 w-100
    @include pattern1();
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem;

    .reply-text-section {
        margin-left: 0.5rem;
        border: 0.1rem solid $secondary4;
        border-radius: $round4;
        width: 100%;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        position: relative;

        & div:nth-child(1) {
            line-height: 2rem !important;
            font-size: 1.2rem !important;
            font-weight: 500;
            text-transform: capitalize;

            span:nth-child(3) {
                font-weight: normal;
                color: $secondary2;
            }
        }

        .read-more {
            font-size: 1.2rem !important;
            font-weight: 600 !important;
            line-height: 2.2rem !important;
            color: $secondary1;
        }

        .delete-btn {
            position: absolute;
            top: -1.5rem;
            right: 0.5rem;
            border-radius: 50%;
            box-sizing: border-box;
            height: 3.1rem;
            width: 3.1rem;
            border: 1px solid #e1e1e1;
            background-color: #f7f7f7;
        }
    }

    .dot::after {
        content: '•';
        font-weight: bolder;
        padding-right: 2px;
    }
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5.3rem;
    border-top: 0.1rem solid $secondary4;
}

.rely-container {
    & > button {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        height: 3rem;
        width: 7.3rem;
        border: 0.1rem solid $secondary4;
        border-radius: 0.4rem;
        line-height: 2.2rem;
        font-size: 1.2rem;
        margin-left: 1.5rem;

        & > i {
            transform: rotateY(180deg);
            scale: (1.2);
            margin-right: 0.2rem;
        }
    }
}

.action-btns {
    display: flex;
    align-items: center;

    button {
        outline: none;
        box-sizing: border-box;
        height: 3.2rem;
        width: 3.2rem;
        border: 0.1rem solid $secondary4;
        background-color: $secondary5;
        color: $secondary2;
        margin-left: 2rem;
        font-size: 1.5rem;
        border-radius: 50%;
    }

    button.show-more {
        background-color: transparent;
        border: none;
        margin-left: 1rem;
    }
}
