<!-- <button
  class="btn btn-warning btn-lg btn-fab btn-round"
  matTooltip="Add Problem"
  [matTooltipPosition]="'left'"
  [routerLink]="['/problems/add']"
  queryParamsHandling="merge"
  *ngIf="auth.currentUserValue.id"
  aria-label="Add Problem"
>
  <i class="material-icons">add</i>
</button> -->

<div class="container">
    <div class="row problems-worth-solving-container">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="d-flex align-items-center">
                <img
                    src="../../../assets/svg/Solution Icon.svg"
                    alt=""
                    height="30px"
                    width="32px"
                />
                <h1
                    tabindex="-1"
                    class="problems-worth-solving my-auto"
                    #problemWorthSolving
                >
                    Problems worth Solving
                </h1>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <app-filter-dropdown [type]="'problems'"> </app-filter-dropdown>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="col-sm-12 problem-listed-container">
                <div class="d-flex align-items-center">
                    <img
                        src="../../../assets/svg/problem_icon.svg"
                        alt=""
                        height="24"
                        width="20"
                    />
                    <h3>Problems Listed ({{ problems.length }})</h3>
                </div>
            </div>
        </div>
    </div>

    <div
        class="row grid-container"
        *ngIf="problems.length"
        role="region"
        aria-label="problem cards"
    >
        <div class="col-lg-6" *ngFor="let problem of problems; let i = index">
            <div class="card-grid">
                <app-problem-card
                    [index]="i"
                    [problemData]="problem"
                ></app-problem-card>
            </div>
        </div>
    </div>
</div>
