<div
    class="profile-container actions"
    [routerLink]="'/users/' + userData.id"
    queryParamsHandling="merge"
    role="group"
    [attr.aria-label]="['profile', index + 1]"
>
    <div class="profile-image">
        <img
            src="{{
                userData.photo_url && userData.photo_url.fileEndpoint
                    ? filesService.fileAccessUrl +
                      userData.photo_url.fileEndpoint
                    : './assets/img/default-avatar.png'
            }}"
            alt="profile photo"
            class="image"
        />
    </div>

    <div class="profile-name mt-negative-5">
        <h3 class="name">
            <a href="javascript:void(0);">
                {{ userData.name }}
            </a>
        </h3>
    </div>

    <div class="profile-persona-and-company">
        <p class="company">
            {{ userData.organizationByOrganizationId?.name }}
        </p>
        <p>Persona: {{ personas.join(', ') }}</p>
    </div>

    <div class="profile-tags">
        <ng-container
            *ngFor="let interest of userData.users_tags; let i = index"
        >
            <div class="tag" *ngIf="i < 2">
                {{ interest.tag.name | titlecase }}
            </div>
        </ng-container>

        <div class="tag" *ngIf="userData.users_tags > 2">
            +{{ userData.users_tags.length - 2 }}
        </div>
    </div>
</div>
