.actions {
  cursor: pointer;
}

.profile-card {
  height: 22em;
}

.photo_div {
  height: 9em;
  width: 9em;
}

.profile_photo {
  height: 9em !important;
  object-fit: cover;
}

/* NEW UI */
.profile-image img {
  height: 150px;
  width: 149px;
  border-radius: 4px;
}

.profile-name h3 {
  font-size: var(--font-14);
  color: #2d2d2d;
  font-weight: bold;
}

.profile-persona-and-company p {
  font-size: var(--font-12);
  color: #717171;
  padding: 0;
  margin: 0;
  line-height: 2rem;
  letter-spacing: -0.01rem;
}

.mt-negative-5,
.profile-persona-and-company .persona {
  margin-top: -5px;
}

.profile-tags {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.tag {
  color: #2d2d2d;
  font-size: var(--font-12);
  letter-spacing: -0.1px;
  line-height: 15px;
  border: 1px solid #e1e1e1;
  padding: 3px 5px;
  margin: 2px;
  border-radius: 5px;
}
