<!-- <div
  class="card card-profile actions profile-card"
  [routerLink]="'/users/' + userData.id"
  queryParamsHandling="merge"
  role="group"
  [attr.aria-label]="['profile', index + 1]"
>
  <div class="card-avatar photo_div">
    <a>
      <img
        class="img profile_photo"
        style="object-fit: cover;"
        src="{{
          userData.photo_url && userData.photo_url.fileEndpoint
            ? filesService.fileAccessUrl + userData.photo_url.fileEndpoint
            : './assets/img/default-avatar.png'
        }}"
        alt="profile photo"
      />
    </a>
  </div>
  <div class="card-body">
    <h3 class="card-title" style="font-size: 1.3rem;">{{ userData.name }}</h3>
    <h6
      class="card-category text-gray"
      *ngIf="
        userData.organizationByOrganizationId &&
        (userData.id == authService.currentUserValue.id ||
          !userData.organization_private)
      "
    >
      {{ userData.organizationByOrganizationId.name }}
    </h6>
    <div
      *ngIf="
        userData.users_tags &&
        userData.users_tags.length &&
        (userData.id == authService.currentUserValue.id ||
          !userData.interests_private)
      "
      role="group"
      aria-label="interest"
    >
      <p
        *ngFor="let interest of userData.users_tags; let i = index"
        class="badge badge-warning"
        style="margin-right: 0.3em;"
      >
        <span *ngIf="i < 2">{{ interest.tag.name }}</span>
      </p>
    </div>
    <br />
    <div
      *ngIf="
        (userData.problemsByUser && userData.problemsByUser.length) ||
        (userData.user_collaborators && userData.user_collaborators.length) ||
        (userData.user_validations && userData.user_validations.length) ||
        (userData.enrichmentssBycreatedBy &&
          userData.enrichmentssBycreatedBy.length)
      "
    >
      <p>
        {{
          userData.problemsByUser.length +
            userData.user_collaborators.length +
            userData.user_validations.length +
            userData.enrichmentssBycreatedBy.length
        }}
        contribution(s)
      </p>
    </div>
  </div>
  <div class="card-footer">
    <div class="price"></div>
    <div
      class="stats"
      *ngIf="userData.user_locations && userData.user_locations.location"
    >
      <p class="card-category">
        <i class="material-icons">place</i>
        {{ userData.user_locations.location.location_name }}
      </p>
    </div>
  </div>
</div> -->

<div
  class="profile-container p-3 actions"
  [routerLink]="'/users/' + userData.id"
  queryParamsHandling="merge"
  role="group"
  [attr.aria-label]="['profile', index + 1]"
>
  <div class="profile-image">
    <img
      src="{{
        userData.photo_url && userData.photo_url.fileEndpoint
          ? filesService.fileAccessUrl + userData.photo_url.fileEndpoint
          : './assets/img/default-avatar.png'
      }}"
      alt="profile photo"
      class="image"
    />
  </div>
  <div class="profile-name mt-negative-5">
    <h3 class="name">
      <a href="javascript:void(0);" class="text-capitalize text-dark">
        {{ userData.name }}
      </a>
    </h3>
  </div>
  <div class="profile-persona-and-company mt-2">
    <p class="company">
      {{ userData.organizationByOrganizationId?.name }}
    </p>
    <p class="text-capitalize">Persona: {{ personas.join() }}</p>
  </div>
  <div class="profile-tags mt-2 ">
    <ng-container *ngFor="let interest of userData.users_tags; let i = index">
      <div class="tag" *ngIf="i < 2">
        {{ interest.tag.name | titlecase }}
      </div>
    </ng-container>

    <div class="tag" *ngIf="userData.users_tags > 2">
      +{{ userData.users_tags.length - 2 }}
    </div>
  </div>
</div>
