<!-----------------------------GLOBAL SEARCH PROBLEM CARD--------------------------------------------->
<!-- <div [routerLink]="'/problems/'+problemData.id"> -->
<!-- <strong>{{problemData.title}}</strong><br> -->
<!-- </div> -->
<!------------------------------------------------------------------------------------------------->

<!-----------------------------GLOBAL SEARCH USER CARD--------------------------------------------->
<!-- <div class="card card-product actions" [routerLink]="'/profile/'+userData.id">
  <div class="card-body">
    <h4 class="card-title">
      <a>{{userData.name}}</a>
    </h4>
    <h6>{{userData.email}}</h6>
  </div>
</div> -->
<!------------------------------------------------------------------------------------------------->