<div class="discussion-section">
    <ng-container *ngTemplateOutlet="comments; context: { comment: comment }">
    </ng-container>

    <ng-container *ngFor="let reply of sortReplies(replies)">
        <ng-container
            *ngTemplateOutlet="replyTemp; context: { comment: reply }"
        >
        </ng-container>
    </ng-container>

    <div class="pb-2" *ngIf="showReplyBox && replyingTo === comment.id">
        <app-editor
            [user]="comment.user"
            [actionText]="'Reply'"
            [id]="comment.id"
            [cancelShown]="true"
            (cancel)="showReplyBox = false"
            (submit)="onCommentSubmit($event)"
        ></app-editor>
    </div>

    <ng-container *ngTemplateOutlet="footer"></ng-container>
</div>

<ng-template #comments let-comment="comment" let-default>
    <div class="comment-section">
        <app-attachment-modal
            [id]="comment.id"
            [attachments]="comment.attachments"
        ></app-attachment-modal>

        <div class="">
            <img
                src="{{
                    comment.user &&
                    comment.user.photo_url &&
                    comment.user.photo_url.fileEndpoint
                        ? filesService.fileAccessUrl +
                          comment.user.photo_url.fileEndpoint
                        : './assets/img/default-avatar.jpg'
                }}"
                alt="profile photo"
                class=""
                style="object-fit: cover;overflow: hidden;"
                width="40"
                height="40"
            />
        </div>
        <div class="details-container">
            <div>
                <span>
                    {{ comment.user.name || 'Anonymous' }}
                </span>
                <br />
                <span class="comment-date">
                    {{ comment.edited_at | date: 'longDate' }}
                </span>
            </div>
            <div
                innerHTML="{{
                    comment.text.length > 135
                        ? comment.text.slice(0, charLenToShow)
                        : comment.text
                }}"
                class=""
            ></div>

            <a
                *ngIf="comment.text.length > 135"
                href="javascript:void(0);"
                class="read-more"
                (click)="readMoreOrLess(charLenToShow, comment.text.length)"
            >
                {{
                    charLenToShow < comment.text.length
                        ? 'Read More'
                        : 'Read Less'
                }}
            </a>
            <button
                *ngIf="comment.attachments.length > 0"
                class="attach-btn"
                data-toggle="modal"
                #showModalBtn
                (click)="openModal('#viewAttachmentsModal-' + comment.id)"
            >
                <img
                    class="mr-1"
                    src="../../../assets/svg/paper_clip.svg"
                    alt=""
                />

                See {{ comment.attachments.length }} Attachments
            </button>
        </div>
    </div>
</ng-template>

<ng-template #replyTemp let-comment="comment">
    <div class="reply-section">
        <app-attachment-modal
            [id]="comment.id"
            [attachments]="comment.attachments"
        ></app-attachment-modal>

        <div class="">
            <img
                src="{{
                    comment.user &&
                    comment.user.photo_url &&
                    comment.user.photo_url.fileEndpoint
                        ? filesService.fileAccessUrl +
                          comment.user.photo_url.fileEndpoint
                        : './assets/img/default-avatar.jpg'
                }}"
                alt="profile photo"
                class=""
                style="object-fit: cover;overflow: hidden;"
                width="40"
                height="40"
            />
        </div>
        <div class="reply-text-section">
            <div class="user-info">
                <span class="text-capitalize replier-name">
                    {{ comment.user.name || 'Anonymous' }}
                </span>
                <span class="dot"></span>
                <span class="reply-date">{{
                    comment.edited_at | date: 'longDate'
                }}</span>
            </div>
            <div
                innerHTML="{{
                    comment.text.length > 135
                        ? comment.text.slice(0, replyLenToShow)
                        : comment.text
                }}"
                class="mt-2"
            ></div>

            <a
                *ngIf="comment.text.length > 135"
                href="javascript:void(0);"
                class="read-more"
                (click)="
                    showMoreOrLessReply(replyLenToShow, comment.text.length)
                "
            >
                {{
                    replyLenToShow < comment.text.length
                        ? 'Read More'
                        : 'Read Less'
                }}
            </a>

            <button
                class="attach-btn"
                data-toggle="modal"
                #showModalBtn
                *ngIf="comment.attachments.length > 0"
                (click)="openModal('#viewAttachmentsModal-' + comment.id)"
            >
                <img
                    class="mr-1"
                    src="../../../assets/svg/paper_clip.svg"
                    alt=""
                />
                See {{ comment.attachments.length }} Attachments
            </button>

            <button
                *ngIf="auth.currentUserValue.id"
                class="delete-btn"
                (click)="idToDelete(comment)"
            >
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</ng-template>

<ng-template #footer>
    <div class="footer-container">
        <div class="rely-container">
            <button
                class="btn"
                *ngIf="
                    !(showReplyBox && replyingTo === comment.id) &&
                    auth.currentUserValue.id
                "
                (click)="replyTo(comment.id)"
            >
                <i class="far fa-share"></i>
                Reply
            </button>
        </div>
        <div class="action-btns">
            <button
                class="btn"
                *ngIf="auth.currentUserValue.id"
                (click)="toggleVoteDiscussions()"
                [attr.aria-pressed]="voters.has(userId)"
                [ngStyle]="{
                    color: voters.has(userId) ? '#1E90FF' : '#717171'
                }"
                [attr.aria-label]="['likes', voters.size]"
            >
                <i class="far fa-thumbs-up" aria-hidden="true"></i>
            </button>

            <span class="dropdown">
                <button
                    class="btn"
                    *ngIf="auth.currentUserValue.id"
                    id="discussion_share_btn"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    <i class="far fa-share-alt" aria-hidden="true"></i>
                </button>

                <ul
                    class="dropdown-menu"
                    aria-labelledby="discussion_share_btn"
                >
                    <li>
                        <a (click)="getCommentIdToShare(comment.id, 'linkedin')"
                            >LinkedIn</a
                        >
                    </li>
                    <li>
                        <a (click)="getCommentIdToShare(comment.id, 'facebook')"
                            >Facebook</a
                        >
                    </li>
                    <li>
                        <a (click)="getCommentIdToShare(comment.id, 'twitter')"
                            >Twitter</a
                        >
                    </li>
                    <li>
                        <a (click)="getCommentIdToShare(comment.id, 'email')"
                            >Email</a
                        >
                    </li>
                    <li>
                        <a (click)="getCommentIdToShare(comment.id, 'sms')"
                            >SMS</a
                        >
                    </li>
                </ul>
            </span>

            <button class="show-more">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</ng-template>
