@import '../../../styles.scss';
@import '../../../assets/scss/common';

quill-editor {
  display: block;
}

.ng-invalid {
  border: 1px dashed red;
}

/* Set default font-family */

[quill-editor-element] {
  font-family: 'Roboto';
}

/* Set dropdown font-families */

[quill-editor-toolbar] .ql-font span[data-label='Aref Ruqaa']::before {
  font-family: 'Aref Ruqaa';
}

[quill-editor-toolbar] .ql-font span[data-label='Mirza']::before {
  font-family: 'Mirza';
}

[quill-editor-toolbar] .ql-font span[data-label='Roboto']::before {
  font-family: 'Roboto';
}

/* Set content font-families */

.ql-font-mirza {
  font-family: 'Mirza';
}

.ql-font-aref {
  font-family: 'Aref Ruqaa';
}

pre {
  background-color: #fcfcfc;
  padding: 5px;
  border: 1px solid #b2b2b2;
  color: #363030;
}

.ql-mention-list-container {
  width: 270px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(30, 30, 30, 0.08);
  z-index: 9001;
}

.ql-mention-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ql-mention-list-item {
  cursor: pointer;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  padding: 0 20px;
  vertical-align: middle;
}

.actions {
  cursor: pointer;
}

.ql-mention-list-item.selected {
  background-color: #d3e1eb;
  text-decoration: none;
}

.mention {
  height: 24px;
  width: 65px;
  border-radius: 6px;
  background-color: #d3e1eb;
  padding: 3px 0;
}

.mention>span {
  margin: 0 3px;
}

.discussion_thumbnail>a>img {
  padding: 0 2px;
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.more_icon {
  float: right;
  cursor: pointer;
  color: #b2b2b2;
}

.more_icon:hover {
  color: black;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
  background-color: $primary2;
  color: $secondary6;
  cursor: pointer;
}

.dropdown-menu>li>a {
  font-size: 1.2rem;
  line-height: 2rem;
}

.discussion-section {
  margin: 2rem 0;
}

.border {
  border-radius: $round4;
}

.icon-button {
  box-sizing: border-box;
  height: 3.2rem;
  border-radius: 50%;
  width: 3.2rem;
  border: 0.1rem solid #e1e1e1;
  background-color: #f7f7f7;
  color: #717171;
  margin-left: 2rem;
  line-height: 3.2rem;
  font-size: 1.5rem;
}

.user-name {
  line-height: 2.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #2d2d2d;
}

.comment-date {
  line-height: 2rem !important;
  font-size: 1.2rem !important;
  color: #717171;
}

.dot::after {
  content: '•';
  font-weight: bolder;
  padding-right: 2px;
}

.dot::before {
  content: none !important;
  font-weight: bolder;
  padding-right: 2px;
}

.reply-body {
  position: relative;
}

.attach-btn {
  background-color: $secondary6;
  border: none;
  color: $secondary1;
  font-weight: 600;
  font-size: $font12 !important;
}

.reply-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 3rem;
  width: 7.3rem;
  border: 0.1rem solid #e1e1e1;
  border-radius: 0.4rem;
  background-color: $secondary6;
  line-height: 2.2rem;
  font-size: 1.2rem;
  margin-left: 1.5rem;
}

.reply-btn>i {
  transform: rotateY(180deg);
  scale: (1.2);
  margin-right: 0.2rem;
}

.delete-btn {
  position: absolute;
  top: -1.5rem;
  right: 0.5rem;
  box-sizing: border-box;
  height: 3.1rem;
  width: 3.1rem;
  border: 1px solid #e1e1e1;
  background-color: #f7f7f7;
}

.delete-btn * {
  font-size: 20px;
  line-height: 10px;
  color: #717171;
}

.comment-section * {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.reply-section * {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.read-more {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
  line-height: 2.2rem !important;
  color: #2d2d2d;
}

.replier-name {
  line-height: 2rem !important;
  font-size: 1.2rem !important;
  font-weight: 500;
  color: #2d2d2d;
}

.reply-date {
  line-height: 2rem !important;
  font-size: 1.2rem !important;
  color: #717171;
}
