<div class="border discussion-section radius-4">
    <ng-container *ngTemplateOutlet="comments; context: { comment: comment }">
    </ng-container>

    <ng-container *ngFor="let reply of sortReplies(replies)">
        <ng-container
            *ngTemplateOutlet="replyTemp; context: { comment: reply }"
        >
        </ng-container>
    </ng-container>

    <div class="pb-2" *ngIf="showReplyBox && replyingTo === comment.id">
        <app-editor
            [user]="comment.user"
            [actionText]="'Reply'"
            [id]="comment.id"
            [cancelShown]="true"
            (cancel)="showReplyBox = false"
            (submit)="onCommentSubmit($event)"
        ></app-editor>
    </div>

    <ng-container *ngTemplateOutlet="footer"></ng-container>
</div>

<!-- <div class="card-collapse">
  <div class="card-header" id="commentHeading">
    <h3 class="mb-0">
      <a
        class="collapsed"
        data-toggle="collapse"
        href="#comment-{{ comment.id }}"
        aria-expanded="true"
        attr.aria-controls="comment-{{ comment.id }}"
      >
        {{ comment.user.name || 'Anonymous' }},
        {{ comment.edited_at | date: 'short' }}
        <i class="material-icons" aria-hidden="true">keyboard_arrow_down</i>
      </a>
    </h3>
  </div>

  <div
    id="comment-{{ comment.id }}"
    class="collapse show"
    attr.data-target="#comment-{{ comment.id }}"
  >
    <div class="card-body">
      <!-- More button for comment -->
<!-- <ul
        class="navbar-nav"
        style="float:right;"
        *ngIf="comment.user_id == auth.currentUserValue.id"
      >
        <li class="nav-item dropdown">
          <a
            class="nav-link more_icon"
            href="javascript:void(0);"
            id="discussion_more_btn"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            role="button"
            aria-label="more"
          >
            <i class="material-icons" aria-hidden="true">
              more_vert
            </i>
          </a>
          <div class="dropdown-menu" aria-labelledby="discussion_more_btn">
            <a
              class="dropdown-item"
              href="javascript:void(0);"
              (click)="idToDelete(comment)"
              role="button"
            >
              <i
                class="material-icons"
                aria-hidden="true"
                style="color:var(--danger);"
              >
                delete_outline
              </i>
              Delete
            </a>
          </div>
        </li>
      </ul>

      <div innerHTML="{{ comment.text }}"></div> -->

<!-- Attachments for comments -->
<!-- <p>
        <span
          *ngFor="let attachment of comment.attachments; let i = index"
          class="discussion_thumbnail"
        >
          <ng-container *ngIf="attachment.mimeType">
            <a
              href="javascript:void(0);"
              *ngIf="
                attachment.mimeType.startsWith('image') && i < attachmentToShow
              "
              (click)="
                assignUrl(comment.attachments, i, 'comment-' + comment.id)
              "
            >
              <img
                src="{{
                  filesService.fileAccessUrl + attachment['fileEndpoint']
                }}"
                [alt]="['attachment', i + 1]"
              />
            </a> -->

<!-- icon in case url is of video -->
<!-- <a
              href="javascript:void(0);"
              *ngIf="
                attachment.mimeType &&
                attachment.mimeType.startsWith('video') &&
                i < attachmentToShow
              "
              (click)="
                assignUrl(comment.attachments, i, 'comment-' + comment.id)
              "
              ><img
                src="../../../assets/img/video_icon.png"
                [alt]="['video attachment', i + 1]"
              />
            </a>

            <a
              href="javascript:void(0);"
              *ngIf="testMimeType(attachment.mimeType) && i < attachmentToShow"
              (click)="
                assignUrl(comment.attachments, i, 'comment-' + comment.id)
              "
              ><img
                src="../../../assets/img/document_icon.png"
                [alt]="['document attachment', i + 1]"
              />
            </a>

            <a
              href="javascript:void(0);"
              *ngIf="
                attachment.mimeType.endsWith('pdf') && i < attachmentToShow
              "
              (click)="
                assignUrl(comment.attachments, i, 'comment-' + comment.id)
              "
              ><img
                src="../../../assets/img/pdf_icon.png"
                [alt]="['pdf attachment', i + 1]"
              />
            </a>
          </ng-container>
        </span> -->

<!-- show more for comments -->
<!-- <i
          class="material-icons"
          tabindex="0"
          role="button"
          aria-label="show more"
          *ngIf="
            comment &&
            comment.attachments &&
            comment.attachments.length > 2 &&
            !commentsExpanded
          "
          style="padding: 5px; line-height: 50px;cursor: pointer;"
          (click)="displayMoreAttachComments()"
          matTooltip="show more"
          [matTooltipPosition]="'right'"
        >
          arrow_forward_ios
        </i> -->
<!-- show less for comments -->
<!-- <i
          class="material-icons"
          aria-label="show less"
          role="button"
          *ngIf="commentsExpanded"
          tabindex="0"
          style="padding:5px; line-height: 50px;cursor: pointer;"
          (click)="displayMoreAttachComments()"
          matTooltip="show less"
          [matTooltipPosition]="'right'"
        >
          arrow_back_ios
        </i>
      </p>

      <div class="d-flex align-items-center">
        <button
          class="btn btn-warning btn-link"
          *ngIf="auth.currentUserValue.id"
          matTooltip="upvote"
          (click)="toggleVoteDiscussions()"
          [attr.aria-pressed]="voters.has(userId)"
          [ngStyle]="{ color: voters.has(userId) ? '#1E90FF' : 'black' }"
          style="padding: 0 7px;"
          [attr.aria-label]="['likes', voters.size]"
        >
          <i class="material-icons actions" aria-hidden="true">
            thumb_up
          </i>
          <span>&nbsp;{{ voters.size }}</span>
        </button>

        <div class="dropdown">
          <button
            class="btn btn-link"
            [ngClass]="{
              'btn-warning': !pageType,
              'btn-rose': pageType == 'solution'
            }"
            *ngIf="auth.currentUserValue.id"
            matTooltip="share"
            type="button"
            id="discussion_share_btn"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            style="padding: 0 5px;"
          >
            <i class="material-icons actions" aria-hidden="true">
              share
            </i>
          </button>

          <ul class="dropdown-menu" aria-labelledby="discussion_share_btn">
            <li>
              <a (click)="getCommentIdToShare(comment.id, 'linkedin')"
                >LinkedIn</a
              >
            </li>
            <li>
              <a (click)="getCommentIdToShare(comment.id, 'facebook')"
                >Facebook</a
              >
            </li>
            <li>
              <a (click)="getCommentIdToShare(comment.id, 'twitter')"
                >Twitter</a
              >
            </li>
            <li>
              <a (click)="getCommentIdToShare(comment.id, 'email')">Email</a>
            </li>
            <li><a (click)="getCommentIdToShare(comment.id, 'sms')">SMS</a></li>
          </ul>
        </div>

        <button
          mat-raised-button
          class="btn btn-link btn-sm"
          [ngClass]="{
            'btn-warning': !pageType,
            'btn-rose': pageType == 'solution'
          }"
          matTooltip="Click to reply"
          [matTooltipPosition]="'below'"
          *ngIf="
            !(showReplyBox && replyingTo === comment.id) &&
            auth.currentUserValue.id
          "
          (click)="replyTo(comment.id)"
        >
          Reply
        </button>
      </div>
      <app-submit-comment
        *ngIf="showReplyBox && replyingTo === comment.id"
        [users]="users"
        [actionText]="'Reply'"
        [cancelShown]="true"
        [id]="comment.id"
        (cancel)="showReplyBox = false"
        (submit)="onCommentSubmit($event)"
      >
      </app-submit-comment>
      <div class="card-collapse" *ngFor="let reply of sortReplies(replies)">
        <div class="card-header" id="replyHeading">
          <h4 class="mb-0">
            <a
              class="collapsed"
              data-toggle="collapse"
              href="#reply-{{ reply.id }}"
              aria-expanded="true"
              attr.aria-controls="reply-{{ reply.id }}"
            >
              {{ reply.user.name || 'Anonymous' }},
              {{ reply.edited_at | date: 'short' }}
              <i class="material-icons" aria-hidden="true"
                >keyboard_arrow_down</i
              >
            </a>
          </h4>
        </div>
        <div
          id="reply-{{ reply.id }}"
          class="collapse show"
          attr.data-target="#reply-{{ reply.id }}"
        >
          <div class="card-body"> -->
<!-- More button for replies -->
<!-- <ul
              class="navbar-nav"
              style="float:right;"
              *ngIf="reply.user_id == auth.currentUserValue.id"
            >
              <li class="nav-item dropdown">
                <a
                  class="nav-link more_icon"
                  href="javascript.void(0);"
                  id="discussion_more_btn"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  role="button"
                  aria-label="more"
                >
                  <i class="material-icons" aria-hidden="true">
                    more_vert
                  </i>
                </a>
                <div
                  class="dropdown-menu"
                  aria-labelledby="discussion_more_btn"
                >
                  <a
                    class="dropdown-item"
                    href="javascript:void(0);"
                    (click)="idToDelete(reply)"
                    role="button"
                  >
                    <i
                      class="material-icons"
                      aria-hidden="true"
                      style="color:var(--danger);"
                    >
                      delete_outline
                    </i>
                    Delete
                  </a>
                </div>
              </li>
            </ul>

            <div innerHTML="{{ reply.text }}"></div> -->

<!-- Attachments for replies -->
<!-- <p>
              <span
                *ngFor="let attachment of reply.attachments; let i = index"
                class="discussion_thumbnail"
              >
                <a
                  href="javascript:void(0);"
                  *ngIf="
                    attachment.mimeType.startsWith('image') &&
                    i < repliesAttachmentNum
                  "
                  (click)="assignUrl(reply.attachments, i, 'reply-' + reply.id)"
                >
                  <img
                    [alt]="['attachment', i + 1]"
                    src="{{
                      filesService.fileAccessUrl + attachment['fileEndpoint']
                    }}"
                  />
                </a> -->

<!-- icon in case url is of video -->
<!-- <a
                  href="javascript:void(0);"
                  *ngIf="
                    attachment.mimeType.startsWith('video') &&
                    i < repliesAttachmentNum
                  "
                  (click)="assignUrl(reply.attachments, i, 'reply-' + reply.id)"
                >
                  <img
                    src="../../../assets/img/video_icon.png"
                    [alt]="['video attachment', i + 1]"
                  />
                </a>

                <a
                  href="javascript:void(0);"
                  *ngIf="
                    testMimeType(attachment.mimeType) &&
                    i < repliesAttachmentNum
                  "
                  (click)="assignUrl(reply.attachments, i, 'reply-' + reply.id)"
                >
                  <img
                    src="../../../assets/img/document_icon.png"
                    [alt]="['document attachment', i + 1]"
                  />
                </a>

                <a
                  href="javascript:void(0);"
                  *ngIf="
                    attachment.mimeType.endsWith('pdf') &&
                    i < repliesAttachmentNum
                  "
                  (click)="assignUrl(reply.attachments, i, 'reply-' + reply.id)"
                >
                  <img
                    src="../../../assets/img/pdf_icon.png"
                    [alt]="['pdf attachment', i + 1]"
                  />
                </a>
              </span> -->
<!-- Show more for replies -->
<!-- <i
                class="material-icons"
                aria-label="show more"
                role="button"
                tabindex="0"
                *ngIf="
                  reply &&
                  reply.attachments &&
                  reply.attachments.length > 2 &&
                  !repliesExpanded
                "
                style="padding: 5px; line-height: 40px;cursor: pointer;"
                (click)="displayMoreAttachReplies(reply.attachments)"
                matTooltip="show more"
                [matTooltipPosition]="'right'"
              >
                arrow_forward_ios
              </i> -->

<!-- Show less for replies -->
<!-- <i
                class="material-icons"
                aria-label="show less"
                tabindex="0"
                role="button"
                *ngIf="repliesExpanded"
                style="padding:5px; line-height: 40px;cursor: pointer;"
                (click)="displayMoreAttachReplies(reply.attachments)"
                matTooltip="show less"
                [matTooltipPosition]="'right'"
              >
                arrow_back_ios
              </i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<ng-template #comments let-comment="comment" let-default>
    <div class="d-flex justify-content-start  p-2 comment-section">
        <div class="">
            <img
                src="{{
                    comment.user &&
                    comment.user.photo_url &&
                    comment.user.photo_url.fileEndpoint
                        ? filesService.fileAccessUrl +
                          comment.user.photo_url.fileEndpoint
                        : './assets/img/default-avatar.png'
                }}"
                alt="profile photo"
                class="rounded-circle"
                style="object-fit: cover;overflow: hidden;"
                width="40"
                height="40"
            />
        </div>
        <div class="ml-3 w-100">
            <div style="line-height: 1.5rem;">
                <span class="text-capitalize user-name">
                    {{ comment.user.name || 'Anonymous' }}
                </span>
                <br />
                <span class="comment-date">
                    {{ comment.edited_at | date: 'longDate' }}
                </span>
            </div>
            <div
                style="color: #2d2d2d"
                innerHTML="{{
                    comment.text.length > 135
                        ? comment.text.slice(0, charLenToShow)
                        : comment.text
                }}"
                class="mt-2"
            ></div>

            <a
                *ngIf="comment.text.length > 135"
                href="javascript:void(0);"
                class="read-more"
                (click)="readMoreOrLess(charLenToShow, comment.text.length)"
            >
                {{
                    charLenToShow < comment.text.length
                        ? 'Read More'
                        : 'Read Less'
                }}
            </a>
        </div>
    </div>
</ng-template>

<ng-template #replyTemp let-comment="comment">
    <div class="d-flex justify-content-start  p-2 reply-section">
        <div class="">
            <img
                src="{{
                    comment.user &&
                    comment.user.photo_url &&
                    comment.user.photo_url.fileEndpoint
                        ? filesService.fileAccessUrl +
                          comment.user.photo_url.fileEndpoint
                        : './assets/img/default-avatar.png'
                }}"
                alt="profile photo"
                class="rounded-circle"
                style="object-fit: cover;overflow: hidden;"
                width="40"
                height="40"
            />
        </div>
        <div class="ml-2 border pb-2 pl-3 pr-2 pt-2 mt-1 w-100 reply-body">
            <div class="user-info">
                <span class="text-capitalize replier-name">
                    {{ comment.user.name || 'Anonymous' }}
                </span>
                <span class="dot"></span>
                <span class="reply-date">{{
                    comment.edited_at | date: 'longDate'
                }}</span>
            </div>
            <div
                style="color: #2d2d2d"
                innerHTML="{{
                    comment.text.length > 135
                        ? comment.text.slice(0, replyLenToShow)
                        : comment.text
                }}"
                class="mt-2"
            ></div>

            <a
                *ngIf="comment.text.length > 135"
                href="javascript:void(0);"
                class="read-more"
                (click)="
                    showMoreOrLessReply(replyLenToShow, comment.text.length)
                "
            >
                {{
                    replyLenToShow < comment.text.length
                        ? 'Read More'
                        : 'Read Less'
                }}
            </a>

            <button
                i-button
                *ngIf="auth.currentUserValue.id"
                class="delete-btn"
                (click)="idToDelete(comment)"
            >
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</ng-template>

<ng-template #footer>
    <div
        class="border-top d-flex justify-content-between align-items-center py-2 pl-2"
    >
        <!-- <app-editor [user]="users" [actionText]="'reply'"></app-editor> -->
        <div class="">
            <button
                class="reply-btn"
                *ngIf="
                    !(showReplyBox && replyingTo === comment.id) &&
                    auth.currentUserValue.id
                "
                (click)="replyTo(comment.id)"
            >
                <i class="far fa-share"></i>
                Reply
            </button>
        </div>
        <div class="">
            <button
                class="icon-button"
                *ngIf="auth.currentUserValue.id"
                (click)="toggleVoteDiscussions()"
                [attr.aria-pressed]="voters.has(userId)"
                [ngStyle]="{
                    color: voters.has(userId) ? '#1E90FF' : '#717171'
                }"
                [attr.aria-label]="['likes', voters.size]"
            >
                <i class="far fa-thumbs-up" aria-hidden="true"></i>
            </button>

            <span class="dropdown">
                <button
                    class="icon-button"
                    *ngIf="auth.currentUserValue.id"
                    id="discussion_share_btn"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    <i class="far fa-share-alt" aria-hidden="true"></i>
                </button>

                <ul
                    class="dropdown-menu"
                    aria-labelledby="discussion_share_btn"
                >
                    <li>
                        <a (click)="getCommentIdToShare(comment.id, 'linkedin')"
                            >LinkedIn</a
                        >
                    </li>
                    <li>
                        <a (click)="getCommentIdToShare(comment.id, 'facebook')"
                            >Facebook</a
                        >
                    </li>
                    <li>
                        <a (click)="getCommentIdToShare(comment.id, 'twitter')"
                            >Twitter</a
                        >
                    </li>
                    <li>
                        <a (click)="getCommentIdToShare(comment.id, 'email')"
                            >Email</a
                        >
                    </li>
                    <li>
                        <a (click)="getCommentIdToShare(comment.id, 'sms')"
                            >SMS</a
                        >
                    </li>
                </ul>
            </span>

            <button>
                <i>more_vert</i>
            </button>
        </div>
    </div>
</ng-template>
