@import '../../../styles.scss';
@import '../../../assets/scss/common';

.filter-container {
    @include pattern1();
    height: 4.2rem;
    display: flex;
    justify-content: flex-end;

    .filter-section {
        width: 15rem;
        margin-left: 2.1rem;

        &:nth-child(2) {
            width: 18rem;
        }

        & > select,
        input {
            @include pattern1();
            font-weight: $weight500;
            height: 4.2rem;
            border: 0.2rem solid $secondary1;
            border-radius: $round4;
            background-color: transparent;
        }

        & > input {
            width: 100%;
            padding-left: 1rem;

            &:focus {
                outline: none;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .filter-container {
        justify-content: flex-start;

        .filter-section {
            margin-left: 0;
            margin-right: 2.1rem;
        }
    }
}

@media only screen and (max-width: 600px) {
    .filter-container {
        justify-content: space-between;

        .filter-section {
            margin-left: 0;
        }
    }
}
