<div class="filter-container">
    <div class="filter-section">
        <select class="custom-select" (change)="selectDropdown($event)">
            <option selected value="all">All Sectors</option>
            <ng-container *ngFor="let sector of objectValues(sectors)">
                <option value="sector.name">{{ sector.name }}</option>
            </ng-container>
        </select>
        <!-- <mat-form-field>
      <mat-select
        multiple
        placeholder="All Sectors"
        [(ngModel)]="selectedSectors"
        role="listbox"
      >
        <mat-option
          (click)="selectDropdown($event)"
          *ngFor="let sector of objectValues(sectors)"
          [value]="sector.name"
          role="option"
        >
          {{ sector.name }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    </div>

    <div class="filter-section">
        <input type="text" name="" id="" placeholder="All Locations" />
        <!-- <form>
      <mat-form-field>
        <input
          type="text"
          placeholder="All Locations"
          aria-label="Enter location"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
          [(ngModel)]="selectedLocationName"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          (optionSelected)="selectDropdown($event)"
        >
          <mat-option [value]="null">All</mat-option>
          <mat-option *ngFor="let location of locations" [value]="location">
            {{ location.Location.Address.Label }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form> -->
    </div>

    <div class="filter-section" *ngIf="objectValues(selectedLocation).length">
        <select class="custom-select" id="inputGroupSelect01">
            <option selected>Range</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <!-- <mat-form-field class="dropDown">
      <mat-select
        (click)="selectDropdown($event)"
        placeholder="Distance"
        [(ngModel)]="range"
      >
        <mat-option
          (click)="selectDropdown($event)"
          *ngFor="let range of objectKeys(ranges)"
          [value]="range"
        >
          {{ ranges[range] }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    </div>
</div>
