.dropdown-item {
  font-size: 1.4rem !important;
}

.main-card {
  padding: 2rem;
  margin: 0;
  border-radius: 0.4rem;
}

.img-section {
  padding: 0;
}

.see-solutions {
  color: var(--primary3);
  font-size: var(--font-14);
  font-weight: bold;
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height-22);
}

.card-btn {
  height: 4.2rem;
  box-sizing: border-box;
  border: 0.2rem solid var(--primary1);
  border-radius: 0.4rem;
  background-color: #ffffff;
  color: var(--primary3);
  font-size: var(--font-14);
  font-weight: bold;
  letter-spacing: var(--letter-spacing);
  line-height: 1.4rem;
  align-items: center;
  text-transform: capitalize;
  padding: 0 1.5rem;
}

.add-solution-btn {
  background-color: var(--primary2);
  color: #ffffff;
}

/* Start */
.description-format {
  line-height: 2.2rem;
  color: #2d2d2d;
  font-size: 1.4rem;
}

.img-profile {
  border-radius: 0.4rem;
  height: 3.2rem;
  width: 3.2rem;
}

.img-responsive {
  width: 100%;
  min-height: 255px;
  max-height: 255px;
}

.align-icon {
  position: absolute;
  right: 0.1rem;
  bottom: 0.1rem;
  box-sizing: border-box;
  height: 20px;
  width: 30px;
  border: 1px solid #979797;
  border-radius: 4px;
  background-color: #f7f7f7;
  color: #0c1114;
  /* font-family: "Inter UI"; */
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: -0.08px;
  line-height: 12px;
}

.image {
  width: 21.1rem;
  height: 14.6rem;
  border-radius: 0.4rem;
  object-fit: cover;
}

.validateCard {
  min-height: 13.1rem;
  font-size: 1.4rem;
  padding: 2rem;
  border-radius: 0.6rem;
  border: 1px solid #e1e1e1;
}

.collaborateCard {
  min-height: 20.1rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #2d2d2d;
  padding: 2rem;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 0.6rem;
  word-wrap: break-word;
}

.roles {
  color: #2d2d2d;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -0.01rem;
  line-height: 2.2rem;
}

.validate-comment {
  margin-top: 0.9rem;
  line-height: 2.2rem;
  color: #2d2d2d;
  font-size: 1.4rem;
  letter-spacing: -0.01rem;
}
.validate-profile {
  margin-top: 0.8rem;
}

.validate-created-by {
  margin-left: 1rem;
  color: #717171 !important;
  font-size: 1.2rem;
  letter-spacing: -0.01rem;
  line-height: 2rem;
}

.collaborate-comment {
  min-height: 10rem;
  line-height: 2.2rem;
  margin-top: 0.8rem;
}

.comment-footer {
  margin-top: 1rem;
}

.collaborate-created-by {
  color: #717171;
  font-size: 1.2rem;
  letter-spacing: -0.01rem;
  line-height: 2.2rem;
  margin-left: 1rem;
}

.problem-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  min-height: 20rem;
  padding: 2rem 2rem;
  border-radius: 0.4rem;
}

.problem {
  display: flex;
  align-items: center;
  background-color: #fdecec;
  font-size: var(--font-12);
  font-weight: 500;
  border-radius: var(--border-radius-4);
  width: 7.5rem;
  padding: 0.5rem 0;
  line-height: 2rem;
}

.red-bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #f2342f;
  border-radius: 50%;
  margin: 0 5px 0 8px;
}

.heading-container .enrich-heading {
  max-width: 80%;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: -0.01rem;
  line-height: 2.2rem;
  color: #2d2d2d;
}

.created-by {
  display: flex;
  height: 32px;
}

.created-by-right-side {
  font-size: var(--font-12);
  color: #717171;
  display: grid;
  margin-left: 10px;
  max-width: 80%;
}

.created-by-right-side p {
  margin: 0;
  padding: 0;
}

.small-profile {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  object-fit: cover;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.tag {
  color: #2d2d2d;
  font-size: var(--font-12);
  letter-spacing: -0.01rem;
  line-height: 2rem;
  border: 0.1rem solid #e1e1e1;
  padding: 0.3rem 0.5rem;
  margin: 0.2rem 0.2rem 0.2rem 0;
  border-radius: 0.4rem;
}

.likes {
  display: flex;
  align-items: center;
}

.likes img {
  width: 26px;
  height: 26px;
}

.like-icon {
  margin-right: 5px;
}

.total-count {
  height: 2rem;
  width: 3rem;
  text-align: center;
  border: 0.1rem solid #979797;
  border-radius: 0.4rem;
  background-color: #f7f7f7;
  color: #0c1114;
  line-height: 1.8rem;
  font-size: var(--font-10);
  font-weight: 600;
}

.image-and-count-container {
  position: relative;
}

.image-and-count-container > div {
  position: absolute;
  right: 1px;
  bottom: 1px;
}

.fa-pen:before {
  width: 2rem;
  height: 2rem;
  color: #2d2d2d;
  line-height: 2rem;
  font-size: 2rem;
}

.btn-circle {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  text-align: center;
  padding: 0;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: 0.5rem;
}

.btn-social {
  height: 3.2rem;
  width: 3.2rem;
  line-height: 3.2rem;
  text-align: center;
  padding: 0;
  background-color: #f7f7f7;
  border: 2px solid #e1e1e1;
  border-radius: 50%;
}

.btn-social i {
  position: relative;
  font-size: var(--font-18);
  color: var(--black2);
  top: 0.2rem;
}

.mt-20 {
  margin-top: 2rem;
}

.margin-20 {
  margin-left: 2rem;
}

.problem-title {
  color: var(--black1);
  font-size: var(--font-14);
  font-weight: bold;
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height-22);
  padding: 0;
}

.created-by-section {
  color: var(--black2);
  font-size: var(--font-12);
  letter-spacing: var(--letter-spacing);
  line-height: 2rem;
  margin-left: 0.8rem;
  text-transform: capitalize;
}

.edit-validate {
  background-color: #e1e1e1 !important;
}

.fa-share-alt:before {
  width: 2rem;
  height: 2rem;
  color: #2d2d2d;
  line-height: 2rem;
  font-size: 2rem;
}

.actions {
  cursor: pointer;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--orange);
  color: var(--light);
  cursor: pointer;
}

.dropdown-menu .dropdown-item:focus,
.dropdown-item:hover,
.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a:active {
  box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14),
    0 3px 1px -2px rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12) !important;
  background-color: var(--primary) !important;
  color: #ffffff;
}

.problem {
  display: flex;
  align-items: center;
  background-color: #fdecec;
  font-size: var(--font-12);
  font-weight: 500;
  line-height: 1.2rem;
  border-radius: 5px;
  width: 7.7rem;
  height: 2.2rem;
}

.red-bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #f2342f;
  border-radius: 50%;
  margin: 0 5px 0 8px;
}

.img-wrapper {
  position: relative;
}

.dot::before {
  content: '•';
  font-weight: bolder;
  padding: 0;
}

.agreedDisagreeDiv > * {
  vertical-align: middle;
  color: #2d2d2d;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -0.01rem;
  line-height: 2.2rem;
}

.agree {
  background-color: #00945a;
  color: #ffffff !important;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  margin-right: 0.4rem;
}

.agree::before,
.disagree::before {
  font-size: 1.2rem;
  line-height: 2rem;
}

.disagree {
  background-color: #f2342f;
  color: #ffffff !important;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  margin-right: 0.4rem;
}

.textareaElement {
  flex-grow: 1;
  margin-top: 0.4rem;
  min-width: 50px;
  min-height: 17px;
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 5px;
}

[contentEditable][placeholder]:empty:before {
  content: attr(placeholder);
  color: gray;
}

.social-stats {
  color: var(--black1);
  font-size: 1.44rem;
  font-weight: bold;
  line-height: inherit;
  margin-left: 0.8rem;
}

.pre-login {
  box-sizing: border-box;
  height: 20rem;
  border: 0.1rem solid #e1e1e1;
  border-radius: 0.4rem;
}

.pre-login-icon {
  height: 4rem;
  width: 4rem;
  box-sizing: border-box;
  border-radius: 50%;
  border: 0.2rem solid var(--black2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.pre-login-icon > i {
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 0.4rem;
  font-weight: 500;
  color: #717171;
}

.pre-login-text {
  color: #2d2d2d;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.01rem;
  line-height: 2.4rem;
  text-align: center;
}

.pre-login-text > a {
  color: var(--primary);
}

.heading {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  color: #717171;
}

.description-rules > p {
  max-height: 18vh;
  overflow: hidden;
  color: #2d2d2d;
  line-height: 2.2rem;
  font-size: 1.4rem;
}

.showMore {
  color: var(--primary);
  padding-left: 0;
}

.solverTeamImg {
  height: 3rem;
  width: 3rem;
  border-radius: 0.4rem;
}

.enrich-description {
  max-height: 6vh;
  min-height: 4vh;
  font-size: 1.2rem;
  width: 90%;
  overflow: hidden;
  color: #717171;
}

.number-of-likes {
  color: #2d2d2d;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: -0.01rem;
  line-height: 2rem;
}

.sort-btn {
  position: absolute;
  right: 3.5rem;
  top: 0.4rem;
  z-index: 100;
  opacity: 1;
  font-weight: 500;
}

.sort-btn > .close {
  opacity: 1;
  font-size: var(--font-14);
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height-22);
}

/* solution card */

.solution {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8faeb;
  font-size: var(--font-12);
  font-weight: 500;
  border-radius: var(--border-radius-4);
  width: 7.7rem;
  height: 2.2rem;
}

.green-bullet {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #00945a;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.solutions-container .solution-heading h2 {
  font-size: var(--font-14);
  line-height: 2.2rem;
  color: #2d2d2d;
  font-weight: bold;
  min-height: 4.4rem;
  overflow: hidden;
}

.created-by {
  display: flex;
  align-items: center;
  color: #717171;
  font-size: 1.2rem;
  letter-spacing: -0.01rem;
  line-height: 2rem;
}

.created-by img {
  height: 3rem;
  width: 3rem;
  border-radius: var(--border-radius-4);
}

.created-by span {
  vertical-align: middle;
  font-size: var(--font-12);
  color: #717171;
  /* padding: 1rem; */
}

.stats-section {
  width: 100%;
}

.nav-section {
  min-height: 4.7rem;
  padding-left: 0;
  padding-right: 0;

  border-bottom: 0.1rem solid var(--gray1);
  border-radius: 0.4rem 0.4rem 0 0;
}

.nav-section > .nav-item > a {
  color: var(--black1) !important;
  text-transform: capitalize;
  font-size: var(--font-14);
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height-22);
  padding-left: 2rem;
  padding-right: 2rem;
}
.nav-section .nav-item .nav-link.active {
  border-bottom: 0.4rem solid var(--primary3) !important;
  border-radius: 0.4rem 0.4rem 0 0 !important;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  .card-btn {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .card-btn {
    margin-left: 0.3rem;
  }

  .margin-1rem {
    margin-top: 1rem;
  }

  .stats-section {
    width: 50%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .margin-top-20 {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .problem-container {
    display: flex;
    flex-flow: column-reverse;
    height: auto;
  }

  .right-side {
    margin-bottom: 10px;
  }

  .image-and-count-container img {
    width: 100%;
    height: 173px;
  }

  .img-section {
    padding: 0;
  }

  .problem-on-mobile {
    padding-left: 0;
  }

  .card-detail-section {
    margin-top: 1rem;
  }

  .margin-1rem {
    margin-top: 1rem;
  }

  .margin-top-20 {
    margin-top: 2rem !important;
  }

  .left-section {
    align-items: center;
  }

  .stats-section {
    width: 50%;
  }

  .stats-section div:nth-child(1) {
    padding-left: 0;
  }

  .action-btn-section {
    padding-left: 0;
  }

  .nav-mob-section > .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }

  .sort-btn {
    top: 0;
  }
}
