<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">


        <app-wizard-container [content]="problem" (smartSearchInput)="smartSearch()"
          (fieldsPopulated)="updateProblem($event)" [searchedResults]="searchResults" (tagAdded)="addTags($event)"
          (tagRemoved)="remove($event)" (contentSubmitted)="publishProblem(problem)" [owners]="owners"
          (deleteDraft)="deleteDraft($event)" (addedOwners)="addOwners($event)" (removedOwners)="removeOwners($event)"
          [sectors]="sectors" [contentType]="'problem'" [selectedLocations]="problemLocations"
          (locationSelected)="addLocation($event)" (locationRemoved)="removeLocation($event)"
          (nextTab)="scrollUp($event)" (changeFocus)="moveFocusSearchHeading()" [revertFocus]="goToTitle">
        </app-wizard-container>


      </div>
      <div class="col-md-3">
        <ng-container *ngIf="searchResults.length > 0">
          <div class="row mt-5">
            <div class="col-sm-12">
              <h2 class="h2_heading" id="resultsList" tabindex="-1">
                Found {{ searchResults.length }} similar problems. Would you
                like to enrich one of these instead?
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12" style="overflow-y: scroll;" role="region" aria-label="problem cards"
              [style.height]="wizardHeight ? wizardHeight + 'px' : null">
              <div *ngFor="let result of searchResults; let i = index" id="searchedResult">
                <app-problem-card *ngIf="problem" [index]="i" [problemData]="result">
                </app-problem-card>
              </div>
            </div>
            <div class="col-sm-12 text-right">
              <a class="cdk-visually-hidden" href="javascript:void(0);" (click)="focusBackToTitle()">
                Back to title
              </a>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>