@import '../../../styles.scss';
@import '../../../assets/scss/common';
@mixin list__span--sm {
    color: $secondary1;
    font-size: $font18;
    font-weight: $weight500;
    letter-spacing: $spacing;
    line-height: 2.6rem;
    margin-left: 1rem;
}
@mixin list__span--md {
    color: $secondary1;
    font-size: $font20;
    font-weight: $weight500;
    letter-spacing: $spacing;
    line-height: 2.8rem;
    margin-left: 1rem;
}

.navbar-section {
    min-height: 6rem;
    background-color: $secondary6;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(135, 135, 135, 0.1);
}

.nav-left-list {
    & > li {
        display: inline-block !important;
    }

    & > li > a {
        position: relative !important;
        font-size: $font14;
        line-height: 3.6rem;
        text-transform: capitalize;
        color: $secondary1;
        letter-spacing: $spacing;
        font-weight: $weight500;
        padding: 0 1rem;
        margin: 0 1rem;
    }
}

.nav-right-list {
    & > li > a,
    & > li > button {
        font-size: $font14;
        line-height: 3rem;
        height: 4.2rem;
    }

    & > li > button {
        background-color: transparent;
        border: none;
        outline: none;
    }
}

.notification-icon {
    background: $primary3;
    color: $secondary6;
    border-radius: 50%;
    font-size: 0.9rem;
    box-sizing: border-box;
    height: 1.442rem;
    width: 1.442rem;
    line-height: 1.442rem;
    position: absolute;
    top: 0.7rem;
    border: 0.3rem solid $secondary6;
    right: 0.5rem;
}

.profile-btn-li {
    display: inline;

    & > a {
        color: $secondary1;
    }
}

.color-primary {
    color: $primary3;
}

.dropdown-section {
    @include pattern1();
    @include dropdown-common();

    & > a {
        height: 3.2rem !important;
    }

    & > div > a {
        @include ellipsis();
        height: 3.2rem !important;
    }

    & > section {
        background-color: $secondary6;

        &:hover {
            background-color: transparent;

            & > button:hover {
                background-color: #1e7e34;
            }
        }
    }

    & > a > span {
        margin-left: 1rem;
    }
}

.display-sm-md {
    display: none;
}

// .display-lg {
//   display: inline-block;
// }

.add-problem-li {
    & > .add-problem-btn {
        @include pattern1();
        box-sizing: border-box;
        height: 4.2rem;
        border: 0.1rem solid $primary1;
        border-radius: $round4;
        color: $secondary6 !important;
        background-color: $primary2;
        font-weight: bold;
        text-transform: none !important;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}

.tab-focus::after {
    content: '';
    width: 100%;
    border: 0.2rem solid $primary3;
    border-radius: 0.4rem 0.4rem 0 0;
    box-sizing: border-box;
    display: block;
    position: inherit;
    bottom: -1.1rem;
}

.search-icon-li {
    & > button {
        background-color: transparent;
        border: none;
        min-width: fit-content;
        line-height: 3.7rem;
        box-sizing: border-box;
    }

    &:focus {
        outline-width: 0 !important;
    }
}

.message-icon-li {
    & > button {
        background-color: transparent;
        border: none;
        min-width: fit-content;
        line-height: 3.7rem;
        box-sizing: border-box;
    }

    &:focus {
        outline-width: 0 !important;
    }
}

.icon-btn {
    min-width: fit-content;
    line-height: 3.7rem;
    box-sizing: border-box;
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
    //   /* For tablets: */
    .tab-focus::after {
        display: none;
    }

    .profile-btn-li {
        & > a {
            margin-left: 1rem;
        }
    }

    .nav-container {
        padding: 1rem;
    }

    .add-problem-li {
        & > .add-problem-btn {
            width: 23rem;
            margin-left: 1rem;
        }
    }

    .display-sm-md {
        display: inline-block;
    }

    .nav-right-list {
        margin-top: 2.1rem;

        & > li {
            @include list__span--md();
            min-height: 4rem;
            display: flex !important;
            align-items: center;
            margin-left: 0;
        }

        & > li > span {
            margin-left: 1rem;
        }

        & > li > button {
            padding-left: 1rem;
        }
    }

    .nav-left-list {
        margin-top: 3.7rem;

        & > li {
            min-height: 4rem;
        }

        & > li > a {
            @include list__span--md();
            margin-left: 0;
        }
    }

    .profile-btn-li {
        & > a > span {
            @include list__span--md();
        }
    }

    .notification-icon {
        right: none;
        left: 2.3rem;
    }

    .add-problem-li {
        margin-top: 3rem;
    }
}

@media only screen and (max-width: 500px) {
    .nav-right-list {
        & > li {
            display: flex !important;
            flex-direction: row;
            align-items: center;
        }

        & > li > span {
            @include list__span--sm();
        }
    }

    .nav-left-list {
        margin-top: 3.7rem;

        & > li > a {
            font-size: 1.8rem;
            line-height: 4rem;
            padding: 0;
        }
    }

    .tab-focus::after {
        display: none;
    }

    .search-icon-li {
        & > span {
            margin-left: 1.4rem;
        }
    }

    .notification-icon {
        right: none;
        left: 2rem;
    }

    .profile-btn-li {
        & > a {
            margin-left: 0.5rem;
        }

        & > a > span {
            @include list__span--sm();
        }
    }

    .add-problem-li {
        margin-top: 3rem;
    }

    .nav-container {
        padding: 1rem;
    }

    .display-sm-md {
        display: inline-block;
    }

    .icon-text {
        font-size: $font18;
    }
}
