<!-- <nav #navbar class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-dashboard-fixed">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a [routerLink]="['/dashboard']" queryParamsHandling="merge">
        <div class="logo-container">
          <div class="logo">
            <img src="/assets/img/social-alpha-logo-250.png" alt="Social alpha Logo"
              style="height: 60px;width: 60px;" />
          </div>
        </div>
      </a>
    </div>
    <button   class="navbar-toggler btn-no-ripple" type="button" (click)="sidebarToggle()">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" *ngIf="auth.currentUserValue.id" [routerLink]="['/dashboard']"
            queryParamsHandling="merge">
            <i class="material-icons" aria-hidden="true"> dashboard </i>Dashboard
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/problems']" queryParamsHandling="merge">
            <i class="material-icons" aria-hidden="true"> help </i>Problems</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/solutions']" queryParamsHandling="merge">
            <i class="material-icons" aria-hidden="true"> highlight </i>Solutions</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="auth.currentUserValue.is_admin">
          <a class="nav-link" [routerLink]="['/admin']" queryParamsHandling="merge">
            <i class="material-icons" aria-hidden="true">
              supervised_user_circle </i>Admin</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <!-- </form> 
      <ul class="navbar-nav">
        <button mat-raised-button class="btn btn-white btn-round btn-just-icon" (click)="openSearchComponent()"
          *ngIf="this.router.url !== '/landing-page'" aria-label="search">
          <i class="material-icons" aria-hidden="true">search</i>
          <div class="ripple-container"></div>
        </button>

        <li class="nav-item dropdown" *ngIf="auth.currentUserValue.id" style="margin-top: 1.2em; cursor: pointer;">
          <a class="nav-link" href="javascript:void(0);" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" [attr.aria-label]="[
              objectValues(notifications).length,
              objectValues(notifications).length > 1
                ? 'Notifications'
                : 'Notification'
            ]">
            <i class="material-icons" aria-hidden="true">notifications</i>
            <span *ngIf="objectValues(notifications).length"
              class="notification">{{ objectValues(notifications).length }}</span>
            <p>
              <span class="d-lg-none d-md-block">Some Actions</span>
            </p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink"
            style="max-height: 500px; overflow-y: auto;">
            <div *ngFor="let notification of objectValues(notifications)">
              <a *ngIf="
                  notification.problem &&
                  !notification.solution_id &&
                  !notification.enrichment_id &&
                  !notification.collaborator &&
                  !notification.discussion_id &&
                  notification.user_id &&
                  notification.tag_id &&
                  !notification.is_update &&
                  !notification.validated_by
                " class="dropdown-item" name="{{ notification.id }}"
                [routerLink]="'/problems/' + notification.problem_id" queryParamsHandling="merge"
                (click)="onRead($event)">
                New problem "{{ notification.problem.title }}"
                {{ (notification.is_update && 'updated') || 'added' }} in sector
                "{{ notification.tag.name }}"
              </a>

              <a *ngIf="
                  notification.problem &&
                  notification.is_update &&
                  !notification.solution_id &&
                  !notification.enrichment_id &&
                  !notification.collaborator &&
                  !notification.discussion_id &&
                  notification.user_id &&
                  !notification.tag_id &&
                  !notification.validated_by
                " class="dropdown-item" name="{{ notification.id }}"
                [routerLink]="'/problems/' + notification.problem_id" queryParamsHandling="merge"
                (click)="onRead($event)">
                Problem "{{ notification.problem.title }}" is updated
              </a>

              <a *ngIf="notification.problem && notification.enrichment_id" class="dropdown-item"
                name="{{ notification.id }}" (click)="onRead($event)"
                [routerLink]="'/problems/' + notification.problem_id" queryParamsHandling="merge">
                Enrichment added for problem "{{ notification.problem.title }}"
              </a>

              <a *ngIf="
                  notification.problem &&
                  notification.collaborator &&
                  !notification.solution_id
                " class="dropdown-item" name="{{ notification.id }}" (click)="onRead($event)"
                [routerLink]="'/problems/' + notification.problem_id" queryParamsHandling="merge">
                New collaboration on problem "{{ notification.problem.title }}"
              </a>

              <a *ngIf="
                  notification.problem &&
                  notification.user_id &&
                  notification.validated_by &&
                  !notification.solution_id
                " class="dropdown-item" name="{{ notification.id }}" (click)="onRead($event)"
                [routerLink]="'/problems/' + notification.problem_id" queryParamsHandling="merge">
                Problem "{{ notification.problem.title }}" is validated by an
                expert
              </a>

              <a *ngIf="notification.problem && notification.discussion_id" class="dropdown-item"
                name="{{ notification.id }}" (click)="onRead($event)"
                [routerLink]="'/problems/' + notification.problem_id" queryParamsHandling="merge">
                You were mentioned on discussion "{{
                  notification.discussion.text
                }}" on problem "{{ notification.problem.title }}"
              </a>

              <a *ngIf="
                  notification.solution_id &&
                  !notification.is_update &&
                  notification.problem_id &&
                  !notification.collaborator &&
                  !notification.validated_by
                " class="dropdown-item" name="{{ notification.id }}" (click)="onRead($event)"
                [routerLink]="'/solutions/' + notification.solution_id" queryParamsHandling="merge">
                Solution added for problem "{{ notification.problem.title }}"
              </a>

              <a *ngIf="
                  notification.solution_id &&
                  notification.is_update &&
                  !notification.problem_id &&
                  !notification.collaborator &&
                  !notification.validated_by
                " class="dropdown-item" name="{{ notification.id }}" (click)="onRead($event)"
                [routerLink]="'/solutions/' + notification.solution_id" queryParamsHandling="merge">
                Solution "{{ notification.solution.title }}" updated
              </a>

              <a *ngIf="
                  notification.solution_id &&
                  !notification.is_update &&
                  !notification.problem_id &&
                  notification.collaborator &&
                  !notification.validated_by
                " class="dropdown-item" name="{{ notification.id }}" (click)="onRead($event)"
                [routerLink]="'/solutions/' + notification.solution_id" queryParamsHandling="merge">
                New collaboration on solution "{{
                  notification.solution.title
                }}"
              </a>

              <a *ngIf="
                  notification.solution_id &&
                  !notification.is_update &&
                  !notification.problem_id &&
                  !notification.collaborator &&
                  notification.validated_by
                " class="dropdown-item" name="{{ notification.id }}" (click)="onRead($event)"
                [routerLink]="'/solutions/' + notification.solution_id" queryParamsHandling="merge">
                Expert validation on solution "{{
                  notification.solution.title
                }}"
              </a>
            </div>

            <div class="text-center" *ngIf="
                objectValues(notifications).length > 0;
                else noNotification
              ">
              <button mat-raised-button class="btn btn-success my-2" (click)="allRead()"
                *ngIf="objectValues(notifications).length > 1">
                Mark all as Read
              </button>
            </div>

            <ng-template #noNotification>
              <a class="dropdown-item disabled" aria-disabled="true" href="javascript:void(0);">No New Notifications</a>
            </ng-template>
          </div>
        </li>

        <li class="nav-item dropdown" *ngIf="auth.currentUserValue.id">
          <a class="nav-link" href="javascript:void(0);" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <div class="photo">
              <img class="img" alt="my profile" src="{{
                  usersService.currentUser.photo_url &&
                  usersService.currentUser.photo_url.fileEndpoint
                    ? filesService.fileAccessUrl +
                      usersService.currentUser.photo_url.fileEndpoint
                    : './assets/img/default-avatar.png'
                }}" style="border-radius:50%;object-fit: cover;height: 40px;width: 40px;" />
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <h6 class="text-center text-uppercase font-weight-bold">
              {{ usersService.currentUser.name }}
            </h6>
            <h6 class="dropdown-header text-center">
              {{ usersService.currentUser.organization }}
            </h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="'/users/' + auth.currentUserValue.id" queryParamsHandling="merge">My
              Profile</a>
            <a class="dropdown-item" href="javascript:void(0);" (click)="logout()"
              style="cursor: pointer;object-fit: cover;" *ngIf="auth.currentUserValue.id">Logout</a>
          </div>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="!auth.currentUserValue.id">
          <a class="nav-link" [routerLink]="['/auth/register']" queryParamsHandling="merge">
            <i class="material-icons" aria-hidden="true">person_add</i> Register
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="!auth.currentUserValue.id">
          <a class="nav-link" [routerLink]="['/auth/login']" queryParamsHandling="merge">
            <i class="material-icons" aria-hidden="true">fingerprint</i> Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-section">
    <div class="container nav-container">
        <a
            class="navbar-brand p-md-0 pr-lg-3"
            href="javascript:void();"
            [routerLink]="['/dashboard']"
            queryParamsHandling="merge"
        >
            <img
                src="../../../assets/svg/logo.svg"
                width="67"
                height="34"
                alt="social alpha logo"
            />
        </a>
        <button
            class="navbar-toggler py-2"
            type="button"
            data-toggle="collapse"
            data-target="#socialAlphaNavbar"
            aria-controls="socialAlphaNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span><img src="../../../assets/svg/Menu.svg" alt=""/></span>
        </button>
        <div class="collapse navbar-collapse " id="socialAlphaNavbar">
            <ul class="navbar-nav mt-lg-0 tab-bar nav-left-list">
                <li class="nav-item">
                    <a
                        class="nav-item nav-link"
                        routerLinkActive="weight-bold tab-focus"
                        href="javascript:void();"
                        [routerLink]="['/dashboard']"
                        queryParamsHandling="merge"
                        *ngIf="auth.currentUserValue.id"
                    >
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-item nav-link "
                        routerLinkActive="active weight-bold tab-focus"
                        href="javascript:void();"
                        [routerLink]="['/problems']"
                        queryParamsHandling="merge"
                        >Problems</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-item nav-link "
                        routerLinkActive="active weight-bold tab-focus"
                        href="javascript:void();"
                        [routerLink]="['/solutions']"
                        queryParamsHandling="merge"
                        >Solutions</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-item nav-link "
                        routerLinkActive="active weight-bold tab-focus"
                        href="javascript:void();"
                        [routerLink]="['/admin']"
                        queryParamsHandling="merge"
                        *ngIf="auth.currentUserValue.is_admin"
                        >Admin</a
                    >
                </li>
            </ul>

            <hr />
            <ul class="navbar-nav mt-lg-0 nav-right-list">
                <li class="nav-item ml-lg-3 search-icon-li">
                    <button (click)="openSearchComponent()">
                        <img
                            src="../../../assets/svg/Search.svg"
                            alt=""
                            width="20"
                            height="20"
                        />
                    </button>
                    <span class="d-block d-lg-none">Search</span>
                </li>

                <li
                    class="nav-item dropdown ml-lg-3 mr-lg-4 message-icon-li"
                    *ngIf="auth.currentUserValue.id"
                >
                    <button
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        class="icon-btn"
                    >
                        <img
                            src="../../../assets/svg/message.svg"
                            alt=""
                            height="16.84"
                            width="24.06"
                        />

                        <span
                            *ngIf="objectValues(notifications).length"
                            class="notification-icon"
                        ></span>
                    </button>
                    <span class="d-block d-lg-none   ">Messages</span>

                    <div
                        class="dropdown-menu dropdown-menu-right mt-3 dropdown-section"
                        aria-labelledby="navbarDropdownMenuLink"
                    >
                        <div
                            *ngFor="
                                let notification of objectValues(notifications)
                            "
                        >
                            <a
                                *ngIf="
                                    notification.problem &&
                                    !notification.solution_id &&
                                    !notification.enrichment_id &&
                                    !notification.collaborator &&
                                    !notification.discussion_id &&
                                    notification.user_id &&
                                    notification.tag_id &&
                                    !notification.is_update &&
                                    !notification.validated_by
                                "
                                class="dropdown-item  "
                                name="{{ notification.id }}"
                                [routerLink]="
                                    '/problems/' + notification.problem_id
                                "
                                queryParamsHandling="merge"
                                (click)="onRead($event)"
                            >
                                New problem "{{ notification.problem.title }}"
                                {{
                                    (notification.is_update && 'updated') ||
                                        'added'
                                }}
                                in sector "{{ notification.tag.name }}"
                            </a>

                            <a
                                *ngIf="
                                    notification.problem &&
                                    notification.is_update &&
                                    !notification.solution_id &&
                                    !notification.enrichment_id &&
                                    !notification.collaborator &&
                                    !notification.discussion_id &&
                                    notification.user_id &&
                                    !notification.tag_id &&
                                    !notification.validated_by
                                "
                                class="dropdown-item  "
                                name="{{ notification.id }}"
                                [routerLink]="
                                    '/problems/' + notification.problem_id
                                "
                                queryParamsHandling="merge"
                                (click)="onRead($event)"
                            >
                                Problem "{{ notification.problem.title }}" is
                                updated
                            </a>

                            <a
                                *ngIf="
                                    notification.problem &&
                                    notification.enrichment_id
                                "
                                class="dropdown-item  "
                                name="{{ notification.id }}"
                                (click)="onRead($event)"
                                [routerLink]="
                                    '/problems/' + notification.problem_id
                                "
                                queryParamsHandling="merge"
                            >
                                Enrichment added for problem "{{
                                    notification.problem.title
                                }}"
                            </a>

                            <a
                                *ngIf="
                                    notification.problem &&
                                    notification.collaborator &&
                                    !notification.solution_id
                                "
                                class="dropdown-item text-truncate"
                                name="{{ notification.id }}"
                                (click)="onRead($event)"
                                [routerLink]="
                                    '/problems/' + notification.problem_id
                                "
                                queryParamsHandling="merge"
                            >
                                New collaboration on problem "{{
                                    notification.problem.title
                                }}"
                            </a>

                            <a
                                *ngIf="
                                    notification.problem &&
                                    notification.user_id &&
                                    notification.validated_by &&
                                    !notification.solution_id
                                "
                                class="dropdown-item"
                                name="{{ notification.id }}"
                                (click)="onRead($event)"
                                [routerLink]="
                                    '/problems/' + notification.problem_id
                                "
                                queryParamsHandling="merge"
                            >
                                Problem "{{ notification.problem.title }}" is
                                validated by an expert
                            </a>

                            <a
                                *ngIf="
                                    notification.problem &&
                                    notification.discussion_id
                                "
                                class="dropdown-item"
                                name="{{ notification.id }}"
                                (click)="onRead($event)"
                                [routerLink]="
                                    '/problems/' + notification.problem_id
                                "
                                queryParamsHandling="merge"
                            >
                                You were mentioned on discussion "{{
                                    notification.discussion.text
                                }}" on problem "{{
                                    notification.problem.title
                                }}"
                            </a>

                            <a
                                *ngIf="
                                    notification.solution_id &&
                                    !notification.is_update &&
                                    notification.problem_id &&
                                    !notification.collaborator &&
                                    !notification.validated_by
                                "
                                class="dropdown-item"
                                name="{{ notification.id }}"
                                (click)="onRead($event)"
                                [routerLink]="
                                    '/solutions/' + notification.solution_id
                                "
                                queryParamsHandling="merge"
                            >
                                Solution added for problem "{{
                                    notification.problem.title
                                }}"
                            </a>

                            <a
                                *ngIf="
                                    notification.solution_id &&
                                    notification.is_update &&
                                    !notification.problem_id &&
                                    !notification.collaborator &&
                                    !notification.validated_by
                                "
                                class="dropdown-item"
                                name="{{ notification.id }}"
                                (click)="onRead($event)"
                                [routerLink]="
                                    '/solutions/' + notification.solution_id
                                "
                                queryParamsHandling="merge"
                            >
                                Solution "{{ notification.solution.title }}"
                                updated
                            </a>

                            <a
                                *ngIf="
                                    notification.solution_id &&
                                    !notification.is_update &&
                                    !notification.problem_id &&
                                    notification.collaborator &&
                                    !notification.validated_by
                                "
                                class="dropdown-item"
                                name="{{ notification.id }}"
                                (click)="onRead($event)"
                                [routerLink]="
                                    '/solutions/' + notification.solution_id
                                "
                                queryParamsHandling="merge"
                            >
                                New collaboration on solution "{{
                                    notification.solution.title
                                }}"
                            </a>

                            <a
                                *ngIf="
                                    notification.solution_id &&
                                    !notification.is_update &&
                                    !notification.problem_id &&
                                    !notification.collaborator &&
                                    notification.validated_by
                                "
                                class="dropdown-item"
                                name="{{ notification.id }}"
                                (click)="onRead($event)"
                                [routerLink]="
                                    '/solutions/' + notification.solution_id
                                "
                                queryParamsHandling="merge"
                            >
                                Expert validation on solution "{{
                                    notification.solution.title
                                }}"
                            </a>
                        </div>

                        <section
                            class="text-center"
                            *ngIf="
                                objectValues(notifications).length > 0;
                                else noNotification
                            "
                        >
                            <button
                                class="btn btn-success my-2"
                                (click)="allRead()"
                                *ngIf="objectValues(notifications).length > 1"
                            >
                                Mark all as Read
                            </button>
                        </section>

                        <ng-template #noNotification>
                            <a
                                class="dropdown-item disabled"
                                aria-disabled="true"
                                href="javascript:void(0);"
                                >No New Notifications</a
                            >
                        </ng-template>
                    </div>
                </li>

                <li
                    class="nav-item dropdown profile-btn-li"
                    *ngIf="auth.currentUserValue.id"
                >
                    <a
                        class="nav-link profile-icon dropdown-toggle"
                        href="#"
                        id="profileDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <img
                            src="{{
                                usersService.currentUser.photo_url &&
                                usersService.currentUser.photo_url.fileEndpoint
                                    ? filesService.fileAccessUrl +
                                      usersService.currentUser.photo_url
                                          .fileEndpoint
                                    : './assets/img/default-avatar.png'
                            }}"
                            alt="profile photo"
                            height="30"
                            width="30"
                            style="border-radius: .4rem; object-fit:cover;"
                        />

                        <span class="display-sm-md text-capitalize ml-3"
                            >Profile</span
                        >
                    </a>
                    <div
                        class="dropdown-menu mt-3 dropdown-menu-right dropdown-section"
                    >
                        <a
                            class="dropdown-item"
                            [routerLink]="'/users/' + auth.currentUserValue.id"
                            queryParamsHandling="merge"
                        >
                            <img
                                src="../../../assets/svg/profile.svg"
                                alt=""
                                width="16"
                                height="16"
                            />
                            <span> Profile</span>
                        </a>
                        <a
                            href="javascript:void(0);"
                            class="dropdown-item d-none d-lg-block"
                            (click)="logout()"
                        >
                            <img
                                src="../../../assets/svg/logout.svg"
                                alt=""
                                width="16"
                                height="16"
                            />
                            <span>Log Out</span>
                        </a>
                    </div>
                </li>

                <li
                    class="nav-item d-block d-lg-none"
                    *ngIf="auth.currentUserValue.id"
                >
                    <button (click)="logout()" class="">
                        <img
                            src="../../../assets/svg/logout.svg"
                            alt=""
                            width="20"
                            height="20"
                        />
                    </button>

                    <span class="display-sm-md ">Log Out</span>
                </li>

                <li
                    class="nav-item dropdown ml-lg-5 d-none d-md-block add-problem-li"
                    *ngIf="auth.currentUserValue.id"
                >
                    <a
                        class="nav-link dropdown-toggle add-problem-btn"
                        href="javascript:void(0);"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        Add a Problem / Solution
                    </a>
                    <div
                        class="dropdown-menu mt-3 dropdown-menu-right dropdown-section"
                    >
                        <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            [routerLink]="['/problems/add']"
                            queryParamsHandling="merge"
                        >
                            <img
                                src="../../../assets/svg/problem.svg"
                                alt=""
                                height="22"
                                width="30"
                            />
                            <span> Add a Problem</span>
                        </a>
                        <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            [routerLink]="['/solutions/add']"
                            queryParamsHandling="merge"
                        >
                            <img
                                src="../../../assets/svg/solution_dark_icon.svg"
                                alt=""
                                height="22"
                                width="30"
                            />
                            <span> Add a Solution </span>
                        </a>
                    </div>
                </li>

                <li class="nav-item" *ngIf="!auth.currentUserValue.id">
                    <button
                        [routerLink]="['/auth/register']"
                        queryParamsHandling="merge"
                    >
                        Register
                    </button>
                </li>
                <li class="nav-item" *ngIf="!auth.currentUserValue.id">
                    <button
                        class="pr-0"
                        [routerLink]="['/auth/login']"
                        queryParamsHandling="merge"
                    >
                        Login
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
