<div class="container search-container" role="search">
    <section class="row input-section">
        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img
                            src="../../assets/svg/Search.svg"
                            alt=""
                            style="opacity: .3;"
                        />
                    </span>
                </div>
                <input
                    type="search"
                    value=""
                    class="form-control"
                    placeholder="Search for problems, solutions and contributors"
                    name="searchInput"
                    appAutofocus
                    (input)="globalSearch($event.target.value)"
                    autocomplete="off"
                />
                <div class="input-group-append">
                    <button class="btn " type="button">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section>
        <ng-container *ngTemplateOutlet="zeroResult"></ng-container>
    </section>
</div>

<ng-template #zeroResult>
    <section class="row zeroResult-section">
        <div>
            <img src="../../assets/svg/empty_state_search_icon.svg" alt="" />
        </div>

        <h5>It seems there are no search results as of now.</h5>
    </section>
</ng-template>
<!-- <div class="main-content" role="search">
    <div class="container-fluid">
        <div class="row justify-content-center" style="margin-top: 2%;">
            <div class="col-md-6 input-group">
                <input
                    type="search"
                    value=""
                    class="form-control"
                    placeholder="Search..."
                    name="searchInput"
                    appAutofocus
                    (input)="globalSearch($event.target.value)"
                    autocomplete="off"
                />
            </div>
        </div>
        <hr aria-hidden="true" />
        <div class="row">
            <div class="col-md-3">
                <h1 class="card-title text-center fontSize">Problems</h1>
                <br />
                <div
                    *ngFor="
                        let problem of globalProblemSearchResults;
                        let i = index
                    "
                >
                    <app-problem-card
                        *ngIf="problem"
                        [index]="i"
                        [problemData]="problem"
                    >
                    </app-problem-card>
                    <br />
                </div>
                <div
                    class="card text-center"
                    *ngIf="
                        globalProblemSearchResults &&
                        globalProblemSearchResults.length === 0
                    "
                >
                    <div class="card-body fontSize">
                        No search results for <strong>Problems</strong>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <h1 class="card-title text-center fontSize">Solutions</h1>
                <br />
                <div
                    *ngFor="
                        let solution of solutionSearchResults;
                        let i = index
                    "
                >
                    <app-solution-card
                        *ngIf="solution"
                        [index]="i"
                        [solutionData]="solution"
                    >
                    </app-solution-card>
                    <br />
                </div>
                <div
                    class="card text-center"
                    *ngIf="
                        solutionSearchResults &&
                        solutionSearchResults.length === 0
                    "
                >
                    <div class="card-body fontSize">
                        No search results for <strong>Solutions</strong>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <h1 class="card-title text-center fontSize">Contributors</h1>
                <br />
                <div *ngFor="let user of userSearchResults; let i = index">
                    <app-profile-card
                        *ngIf="user"
                        [index]="i"
                        [userData]="user"
                    ></app-profile-card>
                    <br />
                </div>
                <div
                    class="card text-center"
                    *ngIf="userSearchResults && userSearchResults.length === 0"
                >
                    <div class="card-body fontSize">
                        No search results for <strong>Contributors</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
