<div class="border border-dark shadow p-3 radius-4">
    <div
        class="d-flex align-items-start justify-content-between commentSection"
    >
        <img
            *ngIf="user.photo_url && user.photo_url?.fileEndpoint"
            src="{{
                checkUrlIsImg(
                    filesService.fileAccessUrl + user.photo_url.fileEndpoint
                )
                    ? filesService.fileAccessUrl + user.photo_url.fileEndpoint
                    : './assets/img/default-avatar.png'
            }}"
            alt="profile photo"
            class="rounded-circle"
            style="object-fit: cover;overflow: hidden;"
            width="40"
            height="40"
        />

        <div
            class="textareaElement"
            contenteditable
            #commentElement
            placeholder="Add a comment..."
        ></div>
        <button aria-label="" (click)="clickInputFile()">
            <img src="../../../assets/svg/paper_clip.svg" alt="" />
        </button>
        <input
            type="file"
            name=""
            #upload
            style="display: none;"
            (change)="onFileSelected($event)"
            multiple
            accept="{{ fileTypes.join(',') }}"
        />
    </div>
    <ng-container *ngFor="let attachment of attachments; let i = index">
        <div class="my-1 d-flex">
            <span class="d-inline-block text-truncate w-50">
                {{ attachment.name }}
            </span>
            <span>
                <button i-button class="removeBtn" (click)="removeFile(i)">
                    <i>close</i>
                </button>
            </span>
        </div>
    </ng-container>

    <button
        *ngIf="content.length"
        mat-stroked-button
        color="primary"
        class="text-capitalize mt-3"
        (click)="submitComment()"
    >
        {{ actionText }}
    </button>
    <button
        mat-flat-button
        class="text-capitalize mt-3"
        *ngIf="auth.currentUserValue.id && cancelShown"
        (click)="cancel.emit()"
    >
        Cancel
    </button>
</div>
