.removeBtn {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
}
.removeBtn * {
  font-size: medium;
}

.textareaElement {
  flex-grow: 1;
  margin-top: 0.9rem;
  min-width: 5rem;
  min-height: 1.7rem;
  max-height: 10rem;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 0.5rem;
}

[contentEditable][placeholder]:empty:before {
  content: attr(placeholder);
  color: gray;
}

.commentSection {
  border-radius: 0.4rem;
  /* min-height: 6.4rem; */
  font-size: 1.4rem;
  line-height: 2.2rem;
}
