quill-editor {
    display: block;
}

.ng-invalid {
    border: 1px dashed red;
}

/* Set default font-family */

[quill-editor-element] {
    font-family: "Roboto";
}

/* Set dropdown font-families */

[quill-editor-toolbar] .ql-font span[data-label="Aref Ruqaa"]::before {
    font-family: "Aref Ruqaa";
}

[quill-editor-toolbar] .ql-font span[data-label="Mirza"]::before {
    font-family: "Mirza";
}

[quill-editor-toolbar] .ql-font span[data-label="Roboto"]::before {
    font-family: "Roboto";
}

/* Set content font-families */

.ql-font-mirza {
    font-family: "Mirza";
}

.ql-font-aref {
    font-family: "Aref Ruqaa";
}

pre {
    background-color: #fcfcfc;
    padding: 5px;
    border: 1px solid #b2b2b2;
    color: #363030;
}

.ql-mention-list-container {
    background-color: red;

    width: 270px;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(30, 30, 30, .08);
    z-index: 9001;

}

.ql-mention-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;

}

.ql-mention-list-item {
    cursor: pointer;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    padding: 0 20px;
    vertical-align: middle;
    background-color: red;
}

.ql-mention-list-item.selected {
    background-color: #d3e1eb;
    text-decoration: none
}

.mention {
    height: 24px;
    width: 65px;
    border-radius: 6px;
    background-color: #d3e1eb;
    padding: 3px 0
}

.mention>span {
    margin: 0 3px
}

.custom {
    background-color: red;
}