<!-- <ngx-ui-loader id="submitComment" fgsColor="#ff9800" fgsPosition="bottom-right" overlayColor="rgba(40,40,40,.1)"
  fgsType="rectangle-bounce">
</ngx-ui-loader> -->

<!-- <quill-editor
    [style]="{ height: '100px' }"
    *ngIf="auth.currentUserValue.id"
    [(ngModel)]="content"
    [sanitize]="false"
    [modules]="modules"
    (keyup)="checkForSpaces($event)"
    (onEditorCreated)="setFocus($event)"
>
</quill-editor> -->
<div class="stats">
    <button
        *ngIf="auth.currentUserValue.id"
        class="btn btn-sm btn-round"
        [ngClass]="{
            'btn-warning': !pageType,
            'btn-rose': pageType == 'solution'
        }"
        [disabled]="blankSpace"
        (click)="submitComment()"
    >
        {{ actionText }}
    </button>
    <button
        *ngIf="auth.currentUserValue.id && cancelShown"
        [disabled]="blankSpace"
        class="btn btn-danger btn-sm btn-round"
        (click)="cancel.emit()"
    >
        Cancel
    </button>

    <label
        role="button"
        [attr.tabindex]="[!content ? -1 : 0]"
        [attr.aria-disabled]="[!content ? true : false]"
        for="fileInput-{{ id }}"
        *ngIf="auth.currentUserValue.id"
        [ngStyle]="{ cursor: !content ? 'default' : 'pointer' }"
        class="btn btn-secondary btn-sm btn-round right"
    >
        <i class="material-icons" aria-hidden="true">
            attach_file
        </i>
        <span>Attach File</span>
    </label>

    <input
        type="file"
        [disabled]="!content"
        style="display: none"
        id="fileInput-{{ id }}"
        (change)="onFileSelected($event)"
        name="..."
        multiple
        accept="{{ file_types.join(',') }}"
    />
</div>

<div *ngFor="let attachment of attachments; let i = index">
    <div>
        {{ attachment.name }}

        <i
            class="fa fa-close mx-1"
            style="cursor:pointer"
            (click)="removeFile(i)"
            aria-hidden="true"
        ></i>
    </div>
</div>
