.container-main {
  color: #2d2d2d;
}

.full-screen {
  height: 80vh;
}

.main-container h2 {
  font-weight: 600;
  font-size: 3rem;
}

.main-container p {
  font-weight: 500;
  font-size: var(--font-16);
  line-height: 2rem;
}

.main-container .click-here {
  color: var(--primary);
  text-decoration: underline;
}

.email,
.otp {
  display: flex;
  flex-direction: column;
}

label {
  color: #000;
  font-weight: 500;
  font-size: var(--font-14);
  line-height: 2.5rem;
}

.main-container input[type="text"] {
  border: 1px solid #afafaf;
  border-radius: 4px;
  padding: 6px;
  padding-left: 10px;
  background-color: #eee;
  margin-top: -3px;
  width: 100%;
}

.main-container input[type="text"]:focus {
  border-color: #000;
}

.buttons {
  display: flex;
}

.button {
  cursor: pointer;
  padding: 6px;
  border: 2px solid var(--primary);
  border-radius: 4px;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary);
  background-color: #eeeeee;
  flex-grow: 1;
}

.verify-button {
  margin-right: 1%;
  background-color: var(--primary);
  color: #eee;
}

.back-to-login-button {
  margin-left: 1%;
  background-color: #eee;
}
