@import '../../../styles.scss';
@import '../../../assets/scss/common';

.container-main {
    color: $secondary1;

    .full-screen {
        height: calc(100vh - 9.6rem);
    }

    .main-container {
        h2 {
            font-weight: $weight600;
            font-size: 3rem;
        }

        p {
            font-weight: $weight500;
            font-size: $font16;
            line-height: 2rem;
        }

        .click-here {
            color: $primary2;
            text-decoration: underline;
        }

        label {
            color: $secondary1;
            font-weight: $weight500;
            font-size: $font14;
            line-height: 2.5rem;
        }

        input[type='text'] {
            border: 1px solid $secondary3;
            border-radius: $round4;
            padding: 6px;
            padding-left: 10px;
            background-color: $secondary5;
            height: 3.6rem;
            margin-top: -3px;
            width: 100%;

            &:focus {
                border-color: #000;
            }
        }

        .email,
        .otp {
            display: flex;
            flex-direction: column;
        }

        .buttons {
            display: flex;

            .button {
                cursor: pointer;
                padding: 6px;
                border: 2px solid $primary2;
                border-radius: $round4;
                font-size: 1.25rem;
                font-weight: $weight600;
                height: 4.2rem;
                color: $primary2;
                background-color: $secondary4;
                flex-grow: 1;
            }

            .verify-button {
                margin-right: 1%;
                background-color: $primary2;
                color: $secondary6;
            }

            .back-to-login-button {
                margin-left: 1%;
                background-color: $secondary5;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .main-container {
        label {
            font-size: $font12;
        }

        .buttons {
            .button {
                height: 3.6rem;
            }
        }
    }
}
