<!-- <ngx-ui-loader fgsColor="#ff9800" fgsType="rectangle-bounce"> </ngx-ui-loader> -->

<!-- <div
  class="jumbotron jumbotron-fluid poster"
  [ngStyle]="{ 'margin-top': getNavHeight() + 'px' }"
>
  <div class="container-fluid text-center text-white">
    <h1 class="display-3">Solve together</h1>
  </div>
</div>

<div class="main-content" style="margin-top: -1%">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="input-group mb-3">
          <input
            type="text"
            value=""
            class="form-control"
            placeholder="Search..."
            name="searchInput"
            appAutofocus
            data-toggle="dropdown"
            [(ngModel)]="searchInput"
            (input)="landingPageSearch($event.target.value)"
            autocomplete="off"
          />

          <button
            mat-raised-button
            class="btn btn-white btn-round btn-just-icon"
            [routerLink]="'/search'"
            queryParamsHandling="merge"
            aria-label="search"
          >
            <i class="material-icons" aria-hidden="true">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-11">
        <h2
          *ngIf="!searchInput"
          class="card-title text-center"
          style="font-size: 1.7rem;"
        >
          Problems worth solving
        </h2>
        <h2
          *ngIf="landingPageSearchResults.length"
          class="card-title text-center"
          style="font-size: 1.7rem;"
        >
          Search Results
        </h2>
      </div>
      <div class="col-md-1" style="padding-top: 1em;">
        <button
          mat-raised-button
          class="btn btn-warning btn-sm"
          (click)="showAll()"
        >
          See More
        </button>
      </div>
    </div>
    <br />

    <div class="row" *ngIf="!searchInput">
      <div class="col-md-3" *ngFor="let problem of problems; let i = index">
        <app-problem-card
          *ngIf="i < numberToBeShown"
          [index]="i"
          [problemData]="problem"
        ></app-problem-card>
      </div>
    </div>

    <div class="card" *ngIf="searchInput && !landingPageSearchResults.length">
      <div class="card-body text-center lead">
        No search results
      </div>
    </div>

    <div class="row" *ngIf="landingPageSearchResults.length">
      <div
        class="col-md-3"
        *ngFor="let problem of landingPageSearchResults; let i = index"
      >
        <app-problem-card
          *ngIf="i < numberToBeShown"
          [index]="i"
          [problemData]="problem"
        ></app-problem-card>
      </div>
    </div>
  </div>
</div> -->

<!-- new Ui -->

<div class="jumbotron jumbotron-fluid poster jumbo">
    <div class="container">
        <div class="banner-text">
            <h1>Mission to create social impact</h1>
            <p class="left-bar">
                The Open Innovation Exchange is a problem-centric platform to
                systematically manage the lab to market journey of innovative
                solutions that solve a set of validated problem statements. This
                platform will bring all possible stakeholders needed in this
                process right from the end beneficiary at the grassroot level,
                innovators, entrepreneurs, academicians & researchers,
                volunteers, development organizations/NGOs, philanthropic
                foundations, corporate CSR, incubators and other ecosystem
                players.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="col pl-0">
                <div class=" quick-stats ">
                    <div class="row h-100">
                        <div class="col-md-4 text-center text-white stats">
                            <h3>Problems Listed</h3>
                            <p class="">{{ problems?.length }}</p>
                        </div>
                        <div class="col-md-4 text-center text-white stats">
                            <h3>Solution Provided</h3>
                            <p class="">{{ solutions.length }}</p>
                        </div>
                        <div class="col-md-4 text-center text-white stats">
                            <h3>No. of Collaborators</h3>
                            <p class="">{{ noOfCollaborators }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container card-section">
    <div class="row">
        <div class="col-lg-6">
            <div class="col p-0">
                <div class="problem-listed-title text-white">
                    <div class="d-flex align-items-center header">
                        <img
                            src="../../assets/svg/problem_dark_icon.svg"
                            alt=""
                            height="20px"
                            width="24px"
                        />
                        <h2 class="heading">Problems Listed</h2>
                        <div class="view-all">
                            <a href="javascript:void(0);" routerLink="/problems"
                                >View All</a
                            >
                        </div>
                    </div>
                </div>

                <div
                    *ngFor="let problem of problems; let i = index"
                    class="bg-white mt-3"
                >
                    <app-problem-card
                        *ngIf="i < numberToBeShown"
                        [index]="i"
                        [problemData]="problem"
                    ></app-problem-card>
                </div>
            </div>
        </div>
        <div class="col-lg-6 margin-sm-md-30">
            <div class="col p-0">
                <div class="problem-listed-title text-white">
                    <div class="d-flex align-items-center header">
                        <img
                            src="../../assets/svg/Solution_light.svg"
                            alt=""
                            height="20px"
                            width="24px"
                        />
                        <h2 class="heading">Solution Listed</h2>
                        <div class="view-all">
                            <a
                                href="javascript:void(0);"
                                routerLink="/solutions"
                                >View All</a
                            >
                        </div>
                    </div>
                </div>

                <div
                    *ngFor="let solution of solutions; let i = index"
                    class="bg-white mt-3"
                >
                    <app-solution-card
                        *ngIf="i < numberToBeShown"
                        [index]="i"
                        [solutionData]="solution"
                    ></app-solution-card>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="col landing-page-subscribe">
                <div class="row " style="height: 95px; line-height: 95px;">
                    <div class="col-md-6 ">
                        <h2 class="heading">Stay up to date</h2>
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <div class="row pb-2 pb-lg-0 align-items-center">
                    <div class="col-md-6 ">
                        <p class="subscribe-body mb-0">
                            Not likely to enter but interested in how this
                            program fares? Enter your email to receive our
                            updates.
                        </p>
                    </div>
                    <div class="col-md-6  subscribe-form pl-md-0 ">
                        <div>
                            <input
                                type="email"
                                name=""
                                id=""
                                placeholder="Email Address"
                                class="form"
                            />
                            <button
                                class="subscribe-button mt-2 mt-lg-0 text-white"
                            >
                                Subscribe
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-2">
    <img
        src="../../assets/img/partner_logo.svg"
        alt="Partner Logo"
        class="partner-image"
    />
</div>
