<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div class="wizard-container" #wizardContainer>
          <div class="card card-wizard" data-color="rose" id="wizardProfile">
            <form [formGroup]="type" action="" method="">
              <div class="card-header text-center">
                <h1 class="card-title page-heading" #heading tabindex="-1">
                  {{ solution.title || "Let's add content" }}
                </h1>
              </div>
              <div class="wizard-navigation">
                <ul class="nav nav-pills" role="tablist">
                  <li
                    class="nav-item"
                    role="tab"
                    aria-controls="text"
                    id="textTab"
                  >
                    <a class="nav-link active" href="#text" data-toggle="tab" #textLink>
                      Text
                    </a>
                  </li>
                  <li
                    class="nav-item"
                    role="tab"
                    aria-controls="media"
                    id="mediaTab"
                    
                  >
                    <a
                      class="nav-link"
                      href="#media"
                      data-toggle="tab"
                      aria-label="upload image and media contents"
                      #mediaLink
                    >
                      Media: image(s) and video(s)
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div
                    class="tab-pane active"
                    id="text"
                    role="tabpanel"
                    aria-labelledby="textTab"
                  >
                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i
                                class="material-icons"
                                aria-hidden="true"
                                [ngStyle]="{
                                  color: !objectKeys(selectedProblems).length
                                    ? 'red'
                                    : '#495057'
                                }"
                                >help</i
                              >
                            </span>
                          </div>

                          <mat-form-field class="example-chip-list">
                            <input
                              placeholder="Select Problem *"
                              matInput
                              style="width: 700px;"
                              #problemInput
                              [formControl]="problemCtrl"
                              [matAutocomplete]="auto"
                              [matChipInputFor]="chipList"
                              [matChipInputSeparatorKeyCodes]="
                                separatorKeysCodes
                              "
                              [matChipInputAddOnBlur]="addOnBlur"
                              (input)="searchProblem($event)"
                              (focus)="hideProblems('problem')"
                            />

                            <mat-autocomplete
                              #auto="matAutocomplete"
                              (optionSelected)="selected($event)"
                            >
                              <mat-option
                                *ngFor="let problem of problemSearchResults"
                                [value]="problem"
                              >
                                {{ problem.title }}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <a
                          *ngIf="problemSearchResults.length"
                          class="cdk-visually-hidden"
                          href="javascript:void(0);"
                          (click)="moveFocus('solutions')"
                          >skip to found problems</a
                        >
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div
                        class="col-sm-10"
                        *ngFor="
                          let problem of objectValues(selectedProblemsData)
                        "
                        role="group"
                      >
                        <mat-chip
                          [selectable]="selectable"
                          [removable]="removable"
                          (removed)="remove(problem)"
                          style="margin-right:0.3em; margin-bottom: 0.4em;max-width: 100%;"
                        >
                          <a
                            [routerLink]="'/problems/' + problem.id"
                            queryParamsHandling="merge"
                            style="max-width: 95%;" class="text-truncate"
                          >

                              {{ problem.title }}

                          </a>
                          <i
                            class="material-icons mat-chip-remove mat-chip-trailing-icon mat-icon material-icons ng-star-inserted"
                            matChipRemove
                            tabindex="0"
                            role="button"
                            aria-label="remove"
                            *ngIf="removable"
                            >cancel</i
                          >
                        </mat-chip>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i
                                class="material-icons"
                                aria-hidden="true"
                                aria-hidden="true"
                                [ngStyle]="{
                                  color: !solution.title ? 'red' : '#495057'
                                }"
                                >title</i
                              >
                            </span>
                          </div>
                          <mat-form-field
                            class="example-full-width has-label"
                            [ngClass]="displayFieldCss(type, 'title')"
                          >
                            <input
                              type="text"
                              matInput
                              id="title"
                              #title
                              appAutofocus
                              placeholder="Title"
                              formControlName="title"
                              [(ngModel)]="solution.title"
                              (input)="solutionSearch($event.target.value)"
                              (focus)="hideProblems('solution')"
                              required
                            />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <a
                          *ngIf="solutionSearchResults.length"
                          class="cdk-visually-hidden"
                          href="javascript:void(0);"
                          (click)="moveFocus('problems')"
                          >skip to found soution</a
                        >
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i
                                class="material-icons"
                                aria-hidden="true"
                                [ngStyle]="{
                                  color: !solution.description
                                    ? 'red'
                                    : '#495057'
                                }"
                                >description</i
                              >
                            </span>
                          </div>
                          <mat-form-field
                            class="example-full-width has-label"
                            [ngClass]="displayFieldCss(type, 'description')"
                          >
                            <textarea
                              type="text"
                              name="description"
                              matInput
                              id="description"
                              placeholder="Description"
                              formControlName="description"
                              [(ngModel)]="solution.description"
                              rows="4"
                              wrap="hard"
                              required
                            ></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <br />
                    <br />
                    <br />

                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons" aria-hidden="true"
                                >build</i
                              >
                            </span>
                          </div>
                          <mat-form-field
                            class="example-full-width has-label"
                            [ngClass]="displayFieldCss(type, 'technology')"
                          >
                            <input
                              type="text"
                              name="technology"
                              matInput
                              id="technology"
                              appAutofocus
                              placeholder="Innovation "
                              formControlName="technology"
                              [(ngModel)]="solution.technology"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons" aria-hidden="true"
                                >nature_people</i
                              >
                            </span>
                          </div>
                          <mat-form-field
                            class="example-full-width has-label"
                            [ngClass]="displayFieldCss(type, 'resources')"
                          >
                            <input
                              type="text"
                              name="resources"
                              matInput
                              id="resources_needed"
                              appAutofocus
                              placeholder="Resources Needed"
                              formControlName="resources"
                              [(ngModel)]="solution.resources"
                              (focus)="focusOnField($event)"
                              (blur)="blurOnField($event)"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i
                                class="material-icons"
                                aria-hidden="true"
                                [ngStyle]="{
                                  color: !solution.impact ? 'red' : '#495057'
                                }"
                                >trending_up</i
                              >
                            </span>
                          </div>
                          <mat-form-field
                            class="example-full-width has-label"
                            [ngClass]="displayFieldCss(type, 'impact')"
                          >
                            <textarea
                              type="text"
                              name="impact"
                              matInput
                              id="impact"
                              placeholder="Impact"
                              formControlName="impact"
                              (focus)="focusOnField($event)"
                              (blur)="blurOnField($event)"
                              [(ngModel)]="solution.impact"
                              aria-describedby="impactListHeading"
                              required
                            ></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div
                      class="col-sm-10 left3rem"
                      *ngIf="
                        showProblemImpacts &&
                        objectValues(selectedProblemsData).length
                      "
                    >
                      <div class="card">
                        <div class="card-header">
                          <h4
                            aria-label="Impact of Selected Problems"
                            id="impactListHeading"
                          >
                            Impact of Selected Problem(s)
                            <button
                              type="button"
                              class="close"
                              aria-label="Close"
                              (click)="(!showProblemImpacts)"
                            >
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </h4>
                        </div>
                        <div style="height: 15rem; overflow-y: scroll;">
                          <ul
                            class="list-group list-group-flush"
                            id="impactList"
                          >
                            <li
                              class="list-group-item"
                              *ngFor="
                                let problem of objectValues(
                                  selectedProblemsData
                                );
                                let i = index
                              "
                            >
                              <span>
                                <strong
                                  >Problem {{ i + 1 }} - {{ problem.title }}
                                </strong>
                              </span>
                              <span *ngIf="problem.impact; else impactNotFound">
                                {{ problem.impact }}
                              </span>
                              <ng-template #impactNotFound
                                >No impact found</ng-template
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons" aria-hidden="true"
                                >trending_up</i
                              >
                            </span>
                          </div>
                          <mat-form-field
                            class="example-full-width has-label"
                            [ngClass]="displayFieldCss(type, 'extent')"
                          >
                            <textarea
                              type="text"
                              name="extent"
                              matInput
                              id="extent"
                              placeholder="Extent"
                              formControlName="extent"
                              (focus)="focusOnField($event)"
                              (blur)="blurOnField($event)"
                              [(ngModel)]="solution.extent"
                              aria-describedby="extentListHeading"
                            ></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div
                      class="col-sm-10 left3rem"
                      *ngIf="
                        showProblemExtent &&
                        objectValues(selectedProblemsData).length
                      "
                    >
                      <div class="card">
                        <div class="card-header">
                          <h4
                            aria-label="Extent of Selected Problems"
                            id="extentListHeading"
                          >
                            Extent of Selected Problem(s)
                            <button
                              type="button"
                              class="close"
                              aria-label="Close"
                              (click)="(!showProblemExtent)"
                            >
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </h4>
                        </div>
                        <div style="height: 15rem; overflow-y: scroll;">
                          <ul class="list-group list-group-flush">
                            <li
                              class="list-group-item"
                              *ngFor="
                                let problem of objectValues(
                                  selectedProblemsData
                                );
                                let i = index
                              "
                            >
                              <span>
                                <strong
                                  >Problem {{ i + 1 }} - {{ problem.title }}
                                </strong>
                              </span>
                              <span *ngIf="problem.extent; else extentNotFound">
                                {{ problem.extent }}
                              </span>
                              <ng-template #extentNotFound
                                >No extent found</ng-template
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons" aria-hidden="true"
                                >trending_up</i
                              >
                            </span>
                          </div>
                          <mat-form-field
                            class="example-full-width has-label"
                            [ngClass]="
                              displayFieldCss(type, 'beneficiary_attributes')
                            "
                          >
                            <textarea
                              type="text"
                              name="beneficiary_attributes"
                              matInput
                              id="beneficiary_attributes"
                              placeholder="Beneficiary Attributes"
                              formControlName="beneficiary_attributes"
                              (focus)="focusOnField($event)"
                              (blur)="blurOnField($event)"
                              [(ngModel)]="solution.beneficiary_attributes"
                              aria-describedby="beneficiary_attributesListHeading"
                            ></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div
                      class="col-sm-10 left3rem"
                      *ngIf="
                        showProblemBeneficiaryAttributes &&
                        objectValues(selectedProblemsData).length
                      "
                    >
                      <div class="card">
                        <div class="card-header">
                          <h4
                            aria-label="Beneficiary Attributes of Selected Problems"
                            id="beneficiary_attributesListHeading"
                          >
                            Beneficiary Attributes of Selected Problem(s)
                            <button
                              type="button"
                              class="close"
                              aria-label="Close"
                              (click)="(!showProblemBeneficiaryAttributes)"
                            >
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </h4>
                        </div>
                        <div style="height: 15rem; overflow-y: scroll;">
                          <ul class="list-group list-group-flush">
                            <li
                              class="list-group-item"
                              *ngFor="
                                let problem of objectValues(
                                  selectedProblemsData
                                );
                                let i = index
                              "
                            >
                              <span>
                                <strong
                                  >Problem {{ i + 1 }} - {{ problem.title }}
                                </strong>
                              </span>
                              <span
                                *ngIf="
                                  problem.beneficiary_attributes;
                                  else beneficiaryAttrNotFound
                                "
                              >
                                {{ problem.beneficiary_attributes }}
                              </span>
                              <ng-template #beneficiaryAttrNotFound
                                >No beneficiary attributes found</ng-template
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons" aria-hidden="true"
                                >beenhere</i
                              >
                            </span>
                          </div>
                          <mat-form-field
                            class="example-full-width has-label"
                            [ngClass]="displayFieldCss(type, 'pilots')"
                          >
                            <textarea
                              type="text"
                              name="pilots"
                              matInput
                              id="pilots"
                              placeholder="Pilots"
                              formControlName="pilots"
                              [(ngModel)]="solution.pilots"
                            ></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <br />

                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i
                                class="material-icons"
                                aria-hidden="true"
                                [ngStyle]="{
                                  color: !sectors.length ? 'red' : '#495057'
                                }"
                                >label</i
                              >
                            </span>
                          </div>

                          <mat-form-field class="example-chip-list">
                            <input
                              placeholder="Sectors*"
                              style="width: 700px;"
                              matInput
                              #sectorInput
                              [formControl]="sectorCtrl"
                              [matAutocomplete]="autoSector"
                              [matChipInputFor]="chipList"
                              [matChipInputSeparatorKeyCodes]="
                                separatorKeysCodes
                              "
                              [matChipInputAddOnBlur]="addOnBlur"
                              (matChipInputTokenEnd)="addSector($event)"
                              
                            />

                            <mat-autocomplete
                              #autoSector="matAutocomplete"
                              (optionSelected)="sectorSelected($event)"
                            >
                              <mat-option
                                *ngFor="let sector of filteredSectors | async"
                                [value]="sector"
                              >
                                {{ sector }}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-sm-10" role="group">
                        <mat-chip
                          *ngFor="let sector of sectors"
                          [selectable]="selectable"
                          [removable]="removable"
                          (removed)="removeSector(sector)"
                          style="margin-right:0.3em; margin-bottom: 0.4em;"
                        >
                          {{ sector }}

                          <i
                            class="material-icons mat-chip-remove mat-chip-trailing-icon mat-icon material-icons ng-star-inserted"
                            matChipRemove
                            tabindex="0"
                            role="button"
                            aria-label="remove"
                            *ngIf="removable"
                            >cancel</i
                          >
                        </mat-chip>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons" aria-hidden="true"
                                >language</i
                              >
                            </span>
                          </div>
                          <mat-form-field
                            class="example-full-width has-label"
                            [ngClass]="displayFieldCss(type, 'website_url')"
                          >
                            <input
                              type="text"
                              name="website_url"
                              matInput
                              id="website_url"
                              appAutofocus
                              placeholder="Website"
                              formControlName="website_url"
                              [(ngModel)]="solution.website_url"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i
                                class="material-icons"
                                aria-hidden="true"
                                [ngStyle]="{
                                  color: !solution.deployment
                                    ? 'red'
                                    : '#495057'
                                }"
                                >local_shipping</i
                              >
                            </span>
                          </div>
                          <mat-form-field
                            class="example-full-width has-label"
                            [ngClass]="displayFieldCss(type, 'deployment')"
                          >
                            <input
                              type="number"
                              name="deployment"
                              matInput
                              id="deployment"
                              placeholder="Deployments"
                              formControlName="deployment"
                              [(ngModel)]="solution.deployment"
                              required
                            />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i
                                class="material-icons"
                                aria-hidden="true"
                                [ngStyle]="{
                                  color:
                                    !solution.budget_title &&
                                    !solution.min_budget &&
                                    !solution.max_budget
                                      ? 'red'
                                      : '#495057'
                                }"
                                >monetization_on</i
                              >
                            </span>
                          </div>
                          <mat-form-field
                            class="example-full-width has-label"
                            [ngClass]="displayFieldCss(type, 'deployment')"
                          >
                            <input
                              type="text"
                              name="budget"
                              matInput
                              id="budget"
                              appAutofocus
                              placeholder="Budget title"
                              formControlName="budget"
                              [(ngModel)]="solution.budget_title"
                              required
                            />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-sm-5">
                        <mat-form-field
                          class="example-full-width has-label"
                          [ngClass]="
                            displayFieldCss(type, 'assessment_metrics')
                          "
                        >
                          <input
                            type="number"
                            name="budget"
                            matInput
                            id="budget"
                            
                            placeholder="Minimum Budget (in Rupees)"
                            formControlName="min_budget"
                            [(ngModel)]="solution.min_budget"
                            required
                            
                          />
                        </mat-form-field>
                      </div>
                      <div class="col-sm-5">
                        <mat-form-field
                          class="example-full-width has-label"
                          [ngClass]="
                            displayFieldCss(type, 'assessment_metrics')
                          "
                        >
                          <input
                            type="number"
                            name="budget"
                            matInput
                            id="budget"
                            
                            placeholder="Maximum Budget (in Rupees)"
                            formControlName="max_budget"
                            [(ngModel)]="solution.max_budget"
                            required
                          />
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons" aria-hidden="true"
                                >supervisor_account</i
                              >
                            </span>
                          </div>
                          <mat-form-field class="example-chip-list">
                            <input
                              placeholder="Solver Team"
                              #ownerInput
                              [formControl]="ownersCtrl"
                              [matAutocomplete]="owner"
                              [matChipInputFor]="chipList"
                              [matChipInputSeparatorKeyCodes]="
                                separatorKeysCodes
                              "
                              [matChipInputAddOnBlur]="addOnBlur"
                              (matChipInputTokenEnd)="addOwner($event)"
                              required
                            />
                            <mat-chip-list #chipList> </mat-chip-list>
                            <mat-autocomplete
                              #owner="matAutocomplete"
                              (optionSelected)="selectedOwner($event)"
                            >
                              <mat-option
                                *ngFor="let owner of filteredOwners | async"
                                [value]="owner"
                              >
                                {{ owner.value }}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-sm-10" role="group">
                        <mat-chip
                          *ngFor="let owner of owners"
                          [selectable]="selectable"
                          [removable]="removable"
                          (removed)="removeOwner(owner)"
                          style="margin-right:0.3em; margin-bottom: 0.4em;"
                        >
                          {{ owner.value || owner.name }}
                          <i
                            class="material-icons mat-chip-remove mat-chip-trailing-icon mat-icon material-icons ng-star-inserted"
                            matChipRemove
                            tabindex="0"
                            role="button"
                            aria-label="remove"
                            *ngIf="removable"
                            >cancel</i
                          >
                        </mat-chip>
                      </div>
                    </div>
                  </div>

                  <div
                    class="tab-pane"
                    id="media"
                    aria-labelledby="mediaTab"
                    role="tabpanel"
                  >
                    <div class="row justify-content-center">
                      <a
                        href="#media"
                        data-toggle="tab"
                        role="tab"
                        class="nav-link"
                        *ngIf="
                          solution.image_urls.length +
                            solution.video_urls.length >
                          0
                        "
                        >{{ solution.image_urls.length }} image(s) and
                        {{ solution.video_urls.length }} video(s) attached</a
                      >
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-sm-6">
                        <div class="picture-container">
                          <div class="picture">
                            <img
                              src="./assets/img/plus.png"
                              class="picture-src"
                              id="wizardPicturePreview"
                              title=""
                            />
                            <input
                              type="file"
                              id="file_input_btn"
                              (change)="onFileSelected($event)"
                              name="..."
                              multiple
                              accept="{{ file_types.join(',') }}"
                            />
                          </div>
                          <h6 class="description">Choose Media</h6>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i
                                class="material-icons"
                                aria-hidden="true"
                                [ngStyle]="{
                                  color:
                                    checkMedialUrl(media_url) == false
                                      ? 'red'
                                      : '#AAAAAA'
                                }"
                                >link</i
                              >
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label">
                            <input
                              type="text"
                              name="media_url"
                              matInput
                              id="media_url"
                              formControlName="media_url"
                              placeholder="Video URL (youtube,vimeo and dailymotion)"
                              [(ngModel)]="media_url"
                            />
                          </mat-form-field>
                          <button
                            class="btn btn-success"
                            [disabled]="checkMedialUrl(media_url) == false"
                            (click)="addMediaUrl()"
                          >
                            Add Video By URL
                          </button>
                        
                        </div>
                      </div>
                    </div>

                    <div class="row" id="loader" style="display:none;">
                      <div class="col">
                        <div class="d-flex align-items-center">
                          <i
                            class="fa fa-spinner fa-spin"
                            style="font-size:32px;color: grey;"
                          ></i>
                          <strong>&nbsp;&nbsp; Uploading...</strong>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="alert col-md-6">
                        <em
                          >Select
                          <i class="material-icons orange600">turned_in</i> to
                          set as featured image</em
                        >
                      </div>
                    </div>

                    <div class="row">
                      <div
                        class="col-md-4"
                        *ngFor="
                          let imgSrc of solution.image_urls;
                          let i = index
                        "
                      >
                        <div class="card card-product">
                          <div
                            class="card-header card-header-image"
                            data-header-animation="false"
                          >
                            <img
                              class="img"
                              src="{{
                                filesService.fileAccessUrl + imgSrc.fileEndpoint
                              }}"
                            />
                          </div>
                          <div class="card-body"></div>
                          <div class="card-footer">
                            <div class="price">
                              <button
                                mat-raised-button
                                type="button"
                                class="btn btn-default btn-link"
                                matTooltip="Select icon to set as featured image"
                                [matTooltipPosition]="'below'"
                                (click)="setFeatured('image', i)"
                              >
                                <i
                                  *ngIf="
                                    imgSrc.fileEndpoint !==
                                    solution.featured_url
                                  "
                                  class="material-icons"
                                  >turned_in_not</i
                                >
                                <i
                                  *ngIf="
                                    imgSrc.fileEndpoint ===
                                    solution.featured_url
                                  "
                                  class="material-icons orange600"
                                  >turned_in</i
                                >
                              </button>
                            </div>
                            <div class="stats">
                              <button
                                mat-raised-button
                                type="button"
                                class="btn btn-danger btn-link"
                                matTooltip="Remove"
                                [matTooltipPosition]="'below'"
                                (click)="removeSelectedItem('image', i)"
                              >
                                <i class="material-icons" aria-hidden="true"
                                  >close</i
                                >
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-md-4"
                        *ngFor="let video of solution.video_urls; let i = index"
                      >
                        <div class="card card-product">
                          <div
                            class="card-header card-header-image"
                            data-header-animation="false"
                          >
                            <video controls width="100%">
                              <source
                                src="{{
                                  filesService.fileAccessUrl +
                                    video.fileEndpoint
                                }}"
                              />
                              Your browser does not support the video tag.
                            </video>
                          </div>
                          <div class="card-body">{{ video.key }}</div>
                          <div class="card-footer">
                            <div class="price">
                             
                            </div>
                            <div class="stats">
                              <button
                                mat-raised-button
                                type="button"
                                class="btn btn-danger btn-link"
                                matTooltip="Remove"
                                [matTooltipPosition]="'below'"
                                (click)="removeSelectedItem('video', i)"
                              >
                                <i class="material-icons" aria-hidden="true"
                                  >close</i
                                >
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-md-4"
                        *ngFor="
                          let embed_url of solution.embed_urls;
                          let i = index
                        "
                      >
                        <div class="card card-product">
                          <div class="card-body">{{ embed_url }}</div>
                          <div class="card-footer">
                            <div class="price">
                          
                            </div>
                            <div class="stats">
                              <button
                                mat-raised-button
                                type="button"
                                class="btn btn-danger btn-link"
                                matTooltip="Remove"
                                [matTooltipPosition]="'below'"
                                (click)="removeSelectedItem('embed', i)"
                              >
                                <i class="material-icons" aria-hidden="true"
                                  >close</i
                                >
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-md-4"
                        *ngFor="
                          let attachment of solution.attachments;
                          let i = index
                        "
                      >
                        <div class="card card-product">
                          <div class="card-body">
                            <i
                              class="material-icons"
                              aria-hidden="true"
                              style="zoom:2; color: grey;"
                            >
                              description
                            </i>
                            {{ attachment.key }}
                          </div>
                          <div class="card-footer">
                            <div class="price">
                          
                            </div>
                            <div class="stats">
                              <button
                                mat-raised-button
                                type="button"
                                class="btn btn-danger btn-link"
                                matTooltip="Remove"
                                [matTooltipPosition]="'below'"
                                (click)="removeSelectedItem('link', i)"
                              >
                                <i class="material-icons" aria-hidden="true"
                                  >close</i
                                >
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-footer">
                <div class="mr-auto">
                  <input
                    type="button"
                    class="btn"
                    onclick="window.history.back()"
                    name="cancel"
                    value="Cancel"
                  />
                </div>
                <div class="ml-auto">
                 
                  <button
                    *ngIf="solution['id'] && solution.is_draft"
                    class="btn btn-danger"
                    (click)="delete()"
                  >
                    Delete
                  </button>
                  <input
                    type="button"
                    class="btn btn-previous btn-fill btn-default btn-wd disabled"
                    name="previous"
                    value="Previous"
                    (click)="clickPreviousBtn()"
                  />
                  <input
                    type="button"
                    class="publish btn btn-fill btn-rose btn-wd"
                    (click)="publishSolution(solution)"
                    value="Publish"
                    [disabled]="!isComplete()"
                  />
                  <input
                    type="button"
                    (click)="nextSelected()"
                    class="btn btn-next btn-fill btn-rose btn-wd"
                    [disabled]="!isComplete()"
                    name="next"
                    value="Next"
                    #nextBtn
                  />
                
                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!--Problem search results-->
      <div class="col-md-3 mt-4" *ngIf="hide">

        <ng-container *ngIf="problemSearchResults.length > 0">
          <div class="row justify-content-center">
            <div class="col-sm-10">
              <h2 style="font-size: 1.6rem;" #foundProblems tabindex="-1">
                Found {{ problemSearchResults.length }} similar problems
              </h2>
            </div>
          </div>
          <div class="row justify-content-center" >
            <div
              class="col-sm-12"
              style="overflow-y: scroll;"
              role="region"
              aria-label="problem cards"
              [style.height]="sideScrollHeight ? sideScrollHeight + 'px' : null"
            >
              <div *ngFor="let result of problemSearchResults; let i = index">
                <app-problem-card
                  *ngIf="result"
                  [index]="i"
                  [problemData]="result"
                  (selected)="selectProblem($event)"
                  [usedInSmartSearch]="true"
                  [showAddButton]="true"
                >
                </app-problem-card>
              </div>
            </div>

            <div class="col-sm-12 text-right">
              <a
                class="cdk-visually-hidden"
                href="javascript:void(0);"
                (click)="focusBack('selectProblem')"
              >
                Back to select Problem
              </a>
            </div>
          </div>
        </ng-container>

      </div>



      <!--Solution smart search results-->
      <div class="col-md-3 mt-4" *ngIf="!hide">
        <ng-container *ngIf="solutionSearchResults.length > 0">
          <div class="row justify-content-center">
            <div class="col-sm-10">
              <h2 style="font-size: 1.6rem;" #foundSolutions tabindex="-1">
                Found {{ solutionSearchResults.length }} similar solutions
              </h2>
            </div>
          </div>
          <div class="row justify-content-center" >
            <div
              class="col-sm-12"
              class="col-sm-12"
              style="overflow-y: scroll;"
              role="region"
              aria-label="solution cards"
              [style.height]="sideScrollHeight ? sideScrollHeight + 'px' : null"
            >
              <div *ngFor="let solution of solutionSearchResults; let i = index">
                <app-solution-card *ngIf="solution" [index]="i" [solutionData]="solution">
                </app-solution-card>
              </div>
            </div>

            <div class="col-sm-12 text-right" *ngIf="!hide">
              <a
                class="cdk-visually-hidden"
                href="javascript:void(0);"
                (click)="focusBack('title')"
              >
                Back to title
              </a>
            </div>
          </div>
        </ng-container>
      </div>

      <!--Solution smart search results-->
    </div>
  </div>
</div>
